<div id="blog" class="template-list container alternate clearfix">
  
  {% paginate blog.articles by 10 %}

  <div class="articles-wrapper clearfix">
	
    {% for article in blog.articles %}
     <a href="{{ article.url }}">
       <div class="article">
        <h2>{{ article.title }}</h2>
        
        <div class="pic-wrapper">
          {% if article.excerpt.size > 0 and article.excerpt contains "<img" %}
            {% assign src = article.excerpt | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn'; | replace: 'http:http://';, 'http://'; | remove: 'https:' %}
          {% else %}
            {% if article.content contains "<img" %}
              {% assign src = article.content | split: 'src="' %}
              {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn'; | replace: 'http:http://';, 'http://'; | remove: 'https:' %}
            {% endif %}
          {% endif %}
          <div class="img" style="{% if article.image %}background-image: url('{{ article.image.src | img_url: 'master' }}'){% else %}background-image: url('{{ src }}'){% endif %}">
          </div>
          <div class="article-date animation">
            <span class="day"><strong>{{ article.published_at | date: "%d" }}</strong></span>
            <span class="month">{{ article.published_at | date: "%b" }}</span>
          </div>
          <!-- <time datetime="{{ article.published_at | date: '%Y %m %d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time> -->
        </div>
        <div class="text-wrapper">
          <div class="content">
            {% if article.excerpt.size > 0 %}
            <p>{{ article.excerpt | strip_html | truncatewords: 70 }}</p>
            {% else %}
            <p>{{ article.content | strip_html | truncatewords: 70 }}</p>
            {% endif %}
          </div>
          <span class="btn">Continue reading</span>
      	</div>
        {% unless forloop.last %}<hr>{% endunless %}
    </div>
    </a>
    {% endfor %}

  </div>

  <div class="blog-sidebar">
    {% include 'blog_sidebar' %}
  </div>
  
  {% include 'pagination' %}
  {% endpaginate %}

</div> <!-- /#col-main -->