<div id="blog">
    <img id='logo-blog' src='{{ 'amika-thestrand.svg' | asset_url }}' alt='The Strand' />

    <div id="pdp-blog-grid" class='slick-see-next grid'>
  
    {%- assign ArticleArray = product.metafields.pdp.blog | split:',' -%}
    {%- for x in ArticleArray -%}
        {%- assign blog = "the-strand/" -%}
        {%- assign y = x | prepend: blog -%}
        {%- assign a = articles[y] -%}
        {%- assign tag = a.tags | last | split: "tag_" | last | upcase | replace: "_", " "  -%}

        <div class="grid__item one-third small--one-whole pdp-blog">
            <a href="{{ a.url }}" title="{{ a.title | escape }}">
                <img src="{{ a.image.src | img_url: '500x' }}" alt="{{ a.image.alt }}" />
            </a>
            {%- unless tag == blank -%}
                <h5 class="blog-tag">{{ tag }}</h5>
            {%- endunless -%}
            {%- if a.title.size > 0 -%}
                <a class="blog-title" href="{{ a.url }}">{{ a.title | escapee }}</a>
            {%- endif -%}
        </div> 
    {%- endfor -%}
    </div> 
</div>

<script>
$(function() {

    if ( $(document).width() < 767 ) {
        
        $('#pdp-blog-grid').css('display', 'block').slick({
            autoplay: false,
            speed: 1000,
            slidesToShow: 1,
            pauseOnHover: false,
            slidesToScroll: 1,
            arrows: false,
         
        });
        

    }
});

</script>