{{ 'mmenu.css' | asset_url | stylesheet_tag }}
{{ 'jquery.mmenu.min.all.js' | asset_url | script_tag }}


<a href="#menu-mobile" id="menu-mobile-button">
<!--   <i class="fa fa-bars"></i> -->
  <svg class="bars-icon" width="18px" height="16px" viewBox="0 0 18 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
          <g id="Mobile-Nav" transform="translate(-15.000000, -45.000000)" stroke="#000000">
              <g id="Hamburger" transform="translate(12.000000, 41.000000)">
                  <g id="Group" transform="translate(4.000000, 4.000000)">
                      <path d="M0,1 L16,1" id="Line" stroke-width="1.5"></path>
                      <path d="M0,8 L16,8" id="Line" stroke-width="1.5"></path>
                      <path d="M0,15 L16,15" id="Line" stroke-width="1.5"></path>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</a>

<div id="menu-mobile" class="mm-menu mm-offcanvas test_class">
  
  <ul class="menu-mobile">
    {% comment %}
    <li class="mobile-top-utils">
      
      <span class="mm-cross-icon">
        
      </span>
      
      <span class="mm-search-icon">
        <a href="/search">
          <svg class="search-icon" width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Mobile-Nav" transform="translate(-340.000000, -83.000000)" stroke="#000000">
                <g id="Icon-/-Profile" transform="translate(337.000000, 80.000000)">
                  <g id="Group" transform="translate(4.000000, 4.000000)">
                    <circle id="Oval" stroke-width="1.5" cx="7" cy="7" r="7"></circle>
                    <path d="M16.4,17.4 L11.48,12.48" id="Line" stroke-width="1.5" stroke-linecap="square"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </span>
      
      <span class="mm-logo">
        <a href="/"><img src="{{ "logo.png" | asset_url }}" alt="{{shop.name}}" /></a>
      </span>
      
        {% if shop.customer_accounts_enabled %}
        <span class="user">
          {% if customer %}
          <a href="/account" class="my-account animation">
<!--             <svg class="img" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.73 79.52"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>user</title><circle class="cls-1" cx="34.36" cy="23.58" r="21.58"/><path class="cls-1" d="M138.64,213.8a32.36,32.36,0,0,1,64.73,0H138.64Z" transform="translate(-136.64 -136.28)"/></svg> -->
            <svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile-Menu" transform="translate(-30.000000, -43.000000)" stroke="#020303">
                        <g id="Icon-/-Search" transform="translate(27.000000, 41.000000)">
                            <g id="Group-3" transform="translate(4.000000, 3.000000)">
                                <g id="Group" stroke-width="1.5">
                                    <path d="M0,19 C0,14.27755 3.80516667,10.45 8.5,10.45 C13.1948333,10.45 17,14.27755 17,19" id="Stroke-1"></path>
                                    <path d="M13.2222222,4.75 C13.2222222,7.37372727 11.1083838,9.5 8.5,9.5 C5.89161616,9.5 3.77777778,7.37372727 3.77777778,4.75 C3.77777778,2.12627273 5.89161616,0 8.5,0 C11.1083838,0 13.2222222,2.12627273 13.2222222,4.75 Z" id="Stroke-3"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
          {% else %}
          <a href="/account/login" class="my-account animation">
            <svg class="img" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.73 79.52"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>user</title><circle class="cls-1" cx="34.36" cy="23.58" r="21.58"/><path class="cls-1" d="M138.64,213.8a32.36,32.36,0,0,1,64.73,0H138.64Z" transform="translate(-136.64 -136.28)"/></svg>
          </a>
          {% endif %}
        </span>
        {% endif %}
      
      
        <span class="cart-wrap gyu">
          <a href="/cart">
<!--             <svg class="img" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 94.67"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><title>bag</title><path class="cls-1" d="M318.33,166.92V137.13a14,14,0,0,1,28,0v29.79" transform="translate(-299.33 -121.13)"/><path class="cls-1" d="M318.33,145.67h-16a1,1,0,0,0-1,1V198.8a15,15,0,0,0,15,15h32a15,15,0,0,0,15-15V146.67a1,1,0,0,0-1-1h-44Z" transform="translate(-299.33 -121.13)"/></svg> -->
            <svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <rect id="path-1" x="0" y="6" width="22" height="14" rx="7"></rect>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Nav-Bar-Copy" transform="translate(-1388.000000, -50.000000)">
                        <g id="Group-6" transform="translate(1154.000000, 49.000000)">
                            <g id="Group-2">
                                <g id="Icon-/-Bag" transform="translate(233.000000, 0.000000)">
                                    <g id="Group-2" transform="translate(1.000000, 2.000000)">
                                        <path d="M15.4210526,6.96839432 L15.4210526,3.69230769 C15.4210526,1.65306839 13.5359746,0 11.2105263,0 C8.88507799,0 7,1.65306839 7,3.69230769 L7,6.96839432" id="Stroke-3" stroke="#020303" stroke-width="1.5"></path>
                                        <g id="Rectangle-5">
                                            <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                            <rect stroke="#000000" stroke-width="1.5" x="0.75" y="6.75" width="20.5" height="12.5" rx="6.25"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="count hide"></span>
          </a>
          {% if settings.allow_side_cart %}
          {% include 'side_cart' %}
          {% endif %}
        </span>

    </li>
	
        <form action="/search" method="get" class="search-form">
          <a href="#" onclick="$(this).parent().submit(); return false;" class="search-a">
              <svg class="search-icon" width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Mobile-Nav" transform="translate(-340.000000, -83.000000)" stroke="#000000">
                          <g id="Icon-/-Profile" transform="translate(337.000000, 80.000000)">
                              <g id="Group" transform="translate(4.000000, 4.000000)">
                                  <circle id="Oval" stroke-width="1.5" cx="7" cy="7" r="7"></circle>
                                  <path d="M16.4,17.4 L11.48,12.48" id="Line" stroke-width="1.5" stroke-linecap="square"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
          </a>
          <input type="text" name="q" placeholder="" />
          <input type="hidden" name="type" value="product" />
        </form>
      {% endcomment %}


    {% for first_link in linklists.mobile-menu-2.links %}
      {% assign first_handle = first_link.title | handleize %}
    	
      <li class="">
        {% if linklists[first_handle].links != blank %}
        
          {% if first_link.url == '#' %}<span>{% else %}<a href="{{ first_link.url }}">{% endif %}
          	{{ first_link.title | escape | remove: "[no-drop]"}}
          {% if first_link.url == '#' %}</span>{% else %}</a>{% endif %}
        
          <ul class="">
            {% include 'menu_mobile_level', parent_handle: first_handle %}
          </ul>
          {% else %}
          <a href="{{ first_link.url }}" class="">
            {{ first_link.title | escape | remove: "[no-drop]"}}
          </a>
        {% endif %}
      </li>
    {% endfor %} 
  </ul>
</div>

<script>
	$(function() {
    promobar_text = promobar_text.replace(/(\r\n|\n|\r)/gm, "").trim().split('#');
    promobar_text = promobar_text.map(function(promo_text){
      return promo_text.trim();
    }).filter(function(promo_text){
      return promo_text != "";
    }).map(function(promo_text){
      return '<span>' + promo_text + '</span>';
    })
    promobar_text = promobar_text.join('');

    var cartCountFragment = '<span id="mmenu-cart-count" class="count" {% if template.name == "cart" %}style="display: block;" {% endif %}>{{ cart.item_count }}</span>';

		$("#menu-mobile").mmenu({
          "slidingSubmenus": true,
          "offCanvas": {
            pageSelector: "#page",
            "position": "left",
            zposition : "front"
          },
          "navbar":{
            add: true
            
          },
          "navbars": [
            {
              "position": "top",
              "content": [
                "<marquee scrollamount='4' loop='infinite' class='mmenu-announcement_bar'>"+ promobar_text +"</marquee>",
                "close",
                "<a href='#' class='mm-search'><svg class='search-icon' width='19px' height='20px' viewBox='0 0 19 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><desc>Created with Sketch.</desc><defs></defs><g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Mobile-Nav' transform='translate(-340.000000, -83.000000)' stroke='#000000'><g id='Icon-/-Profile' transform='translate(337.000000, 80.000000)'><g id='Group' transform='translate(4.000000, 4.000000)'><circle id='Oval' stroke-width='1.5' cx='7' cy='7' r='7'></circle><path d='M16.4,17.4 L11.48,12.48' id='Line' stroke-width='1.5' stroke-linecap='square'></path></g></g></g></g></svg></a>",
                "<a href='/' class='mm-logo'><img src='{{ "logo.png" | asset_url }}'></a>",
                '<a href="/account" class="my-account animation"><svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.5776 5.23159C13.5776 7.98719 11.3438 10.221 8.58823 10.221C5.83263 10.221 3.59863 7.98719 3.59863 5.23159C3.59863 2.47599 5.83263 0.242188 8.58823 0.242188C11.3438 0.242188 13.5776 2.47599 13.5776 5.23159Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 15.2097C1.7386 12.2797 4.9338 10.3157 8.588 10.3157C12.242 10.3157 15.4374 12.2797 17.176 15.2097" fill="black"/></svg></a>',
                '<a href="/cart" class="my-cart"><svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 6.72729C21 12.2501 16.2991 16.7273 10.4999 16.7273C4.7009 16.7273 0 12.2501 0 6.72729H21Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 1.42393C7.70093 1.42393 5.42394 3.70109 5.42394 6.49989C5.42394 9.29891 7.70093 11.5761 10.5 11.5761C13.2991 11.5761 15.5761 9.29891 15.5761 6.49989C15.5761 3.70109 13.2991 1.42393 10.5 1.42393ZM10.5 12C7.46734 12 5 9.5325 5 6.49989C5 3.46729 7.46734 1 10.5 1C13.5327 1 16 3.46729 16 6.49989C16 9.5325 13.5327 12 10.5 12Z" fill="black"/><path d="M10.5 1.04893C7.49382 1.04893 5.04894 3.49399 5.04894 6.49989H5.79894C5.79894 3.90819 7.90804 1.79893 10.5 1.79893V1.04893ZM5.04894 6.49989C5.04894 9.506 7.49381 11.9511 10.5 11.9511V11.2011C7.90805 11.2011 5.79894 9.09182 5.79894 6.49989H5.04894ZM10.5 11.9511C13.5062 11.9511 15.9511 9.506 15.9511 6.49989H15.2011C15.2011 9.09182 13.092 11.2011 10.5 11.2011V11.9511ZM15.9511 6.49989C15.9511 3.49399 13.5062 1.04893 10.5 1.04893V1.79893C13.092 1.79893 15.2011 3.90819 15.2011 6.49989H15.9511ZM10.5 11.625C7.67446 11.625 5.375 9.3254 5.375 6.49989H4.625C4.625 9.73959 7.26022 12.375 10.5 12.375V11.625ZM5.375 6.49989C5.375 3.6744 7.67444 1.375 10.5 1.375V0.625C7.26024 0.625 4.625 3.26018 4.625 6.49989H5.375ZM10.5 1.375C13.3256 1.375 15.625 3.6744 15.625 6.49989H16.375C16.375 3.26018 13.7398 0.625 10.5 0.625V1.375ZM15.625 6.49989C15.625 9.3254 13.3255 11.625 10.5 11.625V12.375C13.7398 12.375 16.375 9.73959 16.375 6.49989H15.625Z" fill="black"/></svg>'+cartCountFragment+'</a>'
              ]
            },
            {
              "position": "top",
              "content": [
                "prev",
                "title"
              ]
            },
            {
              "position": "top",
              "content": [
                "<form action='/search' method='get' class='search-form' style='position: relative;'><a class='search-a'><svg class='search-icon' width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M13.4738 7.23675C13.4738 10.6813 10.6815 13.4735 7.237 13.4735C3.79225 13.4735 1 10.6813 1 7.23675C1 3.79225 3.79225 1 7.237 1C10.6815 1 13.4738 3.79225 13.4738 7.23675Z' stroke='black' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/><path d='M11.7628 4.21851L7.1543 7.17951' stroke='black' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M9.73822 2.58936L6.32422 6.65061' stroke='black' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M12.4038 6.73706L7.29102 8.15381' stroke='black' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/><path fill-rule='evenodd' clip-rule='evenodd' d='M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z' fill='black'/><path fill-rule='evenodd' clip-rule='evenodd' d='M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z' stroke='black' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/><path fill-rule='evenodd' clip-rule='evenodd' d='M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z' stroke='black' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/><path fill-rule='evenodd' clip-rule='evenodd' d='M6.84538 4.82974C7.40938 5.39374 7.40938 6.30824 6.84538 6.87224C6.28138 7.43624 5.36688 7.43624 4.80288 6.87224C4.23888 6.30824 4.23888 5.39374 4.80288 4.82974C5.36688 4.26574 6.28138 4.26574 6.84538 4.82974Z' fill='#FEFAF5'/><path d='M11.6475 11.647L16.0577 16.057' stroke='black' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/></svg></a><input type='text' name='q' placeholder='Search' autocomplete='off'><input type='hidden' name='type' value='product'><ul class='search-results' style='position: absolute; left: 0px; top: auto; display: none;'></ul></form>"

              ]
            }
          ]
        });

        var api = $("#menu-mobile").data('mmenu');
        api.bind('open', function () {
          $('#page').addClass('mode-overlay');
        });
        api.bind('close', function () {
          $('#page').removeClass('mode-overlay');
        });
	});
</script>


<script>
  $(document).ready(function(){
    $('.mm-navbar-top-3').addClass("mm__mobile-search");
    $('.mm-navbar-top-2').addClass("mm__mobile-head");
    $('.mm-panels').addClass("mm__mobile-menu");

    $('.search-a').on('click', function(){
      $(this).parent().submit(); 
      return false;
    });

    $('.mm-cross-icon').on('click', function(){
      $("#menu-mobile").data( "mmenu" ).close();
    });

  });
</script>

<div id="search-fullscreen" class="search-mailing animated">
  <i class='icon-close lnr lnr-cross'></i>
  <div class='form animated'>
    <form action="/search" method="get" class="search-form">
      <div class="clearfix">
        <input type="text" class="input-search animation" name="q" value="" accesskey="4" autocomplete="off" placeholder="Start Typing">
        <input type='submit' class="lnr animation input-icon" value="&#xe86f;" />
        <input type="hidden" name="type" value="product" />
      </div>
    </form>
  </div>
</div>
{% include 'search_autocomplete' %}

<script>
  $(function(){

    $('.menu-mobile .search-target').click( function(){
      $("#menu-mobile").data( "mmenu" ).close();
      $('body').css({'overflow': 'hidden'});
      $('#search-fullscreen').fadeIn();
      $('#search-fullscreen .form').show().addClass('{{settings.search_mailing_effect}}');
      $('#search-fullscreen i.lnr-cross').fadeIn();
      $('#search-fullscreen .input-search').focus();
      return false;
    });

    $('#search-fullscreen i.lnr-cross').click( function(){
      $('body').css({'overflow': 'auto'});
      $('#search-fullscreen .form').fadeOut().removeClass('{{settings.search_mailing_effect}}');
      $('#search-fullscreen i.fa-close').fadeOut();
      $('#search-fullscreen').fadeOut();
      return false;
    });

    $('.menu-mobile .search-form').on('submit', function(e){
      e.stopPropagation();
      e.preventDefault();
      var query = $(this).serialize();
      window.location = '/search?'+query;
    });

  });
</script>
