<div id="customer-accounts"  class="register-login account clearfix">

  <div class="container clearfix">

    <!-- Customer Account Login -->

    <div id="customer-login" class="register-login">

      <h1>Customer Login</h1>

      <p id="success_pw" style="font-weight: bold;"></p>

      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix form-row">
        <label for="customer_email" class="login">Email Address</label>
        <input type="email" value="" name="customer[email]" placeholder="Email Address" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}
      <div id="login_password" class="clearfix form-row">
        <label for="customer_password" class="login">Password</label>
        <input type="password" value="" name="customer[password]" placeholder="Password" id="customer_password" class="large password" size="16" />
        <div style="clear: both"></div>
        <div id="forgot_password">
          <a href="#" onclick="showRecoverPasswordForm()">Forgot your password?</a>
        </div>
      </div>
      {% endif %}

      <div class="action-bottom">
        <input class="btn animation" type="submit" value="Sign In" />
      </div>
      {% endform %}
    </div>

    <!-- Password Recovery -->

    <div id="recover-password" class="register-login" >

      <h1>Reset Password</h1>

      <p class="note">We will send you an email to reset your password</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
      <p class="note">You will receive an email with clear instructions</p>
      {% endif %}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">Email</label>
        <input type="email" value="" size="30" placeholder="Email Address" name="email" id="recover-email" class="large" />
      </div>
      <div class="action-bottom">
        <input class="btn animation" type="submit" value="Submit" />
        <span class="note">or <a href="#" onclick="hideRecoverPasswordForm()">Cancel</a></span>
      </div>
      {% endform %}

    </div>



    <!-- Create Customer -->

    <div id="customer-register" class="register-login" >

      <h1>Create Account</h1>

      {% form 'create_customer' %}
      {{ form.errors | default_errors }}

      <div id="first_name" class="clearfix form-row">
        <label for="first_name" class="login">First Name</label>
        <input type="text" value="{{ form.first_name }}" placeholder="First Name" name="customer[first_name]" id="first_name" class="large" size="30" />
      </div>

      <div id="last_name" class="clearfix form-row">
        <label for="last_name" class="login">Last Name</label>
        <input type="text" value="{{ form.last_name }}" placeholder="Last Name" name="customer[last_name]" id="last_name" class="large{% if form.errors contains 'last_name' %} error{% endif %}" size="30" />
      </div>

      <div id="email" class="clearfix form-row">
        <label for="email" class="login">Email Address</label>
        <input type="email" value="{{ form.email }}" placeholder="Email Address" name="customer[email]" id="email" class="large{% if form.errors contains 'email' %} error{% endif %}" size="30" />
      </div>

      <div id="password" class="clearfix form-row">
        <label for="password" class="login">Password</label>
        <input type="password" value="" name="customer[password]" placeholder="Password" id="password" class="large password{% if form.errors contains 'password' %} error{% endif %}" size="30" />
      </div>

      <div class="action-bottom">
        <input class="btn animation" type="submit" value="Create Account" />
      </div>
      {% endform %}

    </div>


  </div>

</div>


<script type="text/javascript">
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer-login').style.display='none';
    window.location.hash = '#recover';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer-login').style.display = 'block';
    return false;
  }

  $(window).load(function() {
    var message = $('.success_pw').html();
    $('#success_pw').html(message);
  });

</script>
