<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    
    <!-- Google Tag Manager -->
    <script>
      var dataLayer = []; 
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K742MVJ');</script>
    <!-- End Google Tag Manager -->

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' | script_tag }}
  	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  
  

<!-- Start of Littledata - Fix Google Analytics Script-->
{% include 'LittledataLayer' %}
<!-- End of Littledata - Fix Google Analytics Script -->

  {% render 'shogun-head' %}
</head>
  <body>
    {{skip_to_content_link}}
    
      <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K742MVJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
            
            {% comment %}
            {% for item in checkout.line_items %}
              {% if item.product.tags contains "aerosol" %}
	            <p>This is the aerosol item.</p>
              {% endif %}
            {% endfor %}
            {% endcomment %}            
            
            
          </div>
        </div>
      </div>
    </div>


    <script>
      $(function (){
        aerosol = 0;
        counter = 0;
        {% for item in checkout.line_items %}
        counter++;
        {% if item.product.tags contains 'final sale' %}
        setTimeout(function (){
          $('tr.product[data-product-id="{{item.product.id}}"] .product__description').append('<span class="final-sale">**Final Sale**</span>')
            },1250);
          {% endif %}
          {% if item.product.tags contains 'aerosol' %}
          aerosol = 1;
          setTimeout(function (){
            $('tr.product[data-product-id="{{item.product.id}}"] .product__description').append('<span class="aerosol-text" style="display: block;">Aerosol product</span>')
              },1250);//copy/pasted not sure why needed
            {% endif %}
            {% endfor %}
            if (aerosol > 0 ){
              if (counter > 4) {//1 product + 3 free gifts
                $('.section--shipping-method .section__header').append('As you have an Aerosol product in your cart, if you choose expedited shipping, the Aerosol product will be shipped via ground.');
              } else {
                $('.section--shipping-method .section__header').append('As you have an Aerosol product in your cart, expedited shipping options are unavailable');
              }
            }
          });
    </script>

    
    
    
    
    <script>

    $ = window.Checkout.$;
    var code = "{{settings.gwp_code}}";

    const intercept = (urlmatch, callback) => {
      let send = XMLHttpRequest.prototype.send;
      XMLHttpRequest.prototype.send = function() {
        this.addEventListener('readystatechange', function() {
          if (this.responseURL.includes(urlmatch) && this.readyState === 4) {
            callback(this);
          }
        }, false);
        send.apply(this, arguments);
      };
    };

    let output = response => {
      if (response.responseURL.includes('checkouts')) {
        runGWP();
      }
    };

    intercept('.', output);

    removeGWP = function (cart) {
      $(cart.items).each(function () {
        if ($(this)[0].variant_id == {{settings.gwp_variant_id}})
          alterGWP(0);
      });
    };

    addGWP = function (cart) {
      var found = false;
      $(cart.items).each(function () {
        if ($(this)[0].variant_id == {{settings.gwp_variant_id}})
          found = true;
      });
      if (!found)
        alterGWP(1);
    };

    runGWP = function () {
      var count = 1;
      var frm = this;
      var found = false;

      $(".applied-reduction-code__information").each(function() {
          if ($(this).text().toLowerCase() == code.toLowerCase())
            found = true;
      });

      if (found)
      { Shopify.getCart(addGWP) }
      else
      { Shopify.getCart(removeGWP); }

    };

    alterGWP = function (count) {
        var params = {
          type: 'POST',
          url: '/cart/update.js',
          data: { updates: { {{settings.gwp_variant_id}} : count } },
          dataType: 'json',
          success: function(cart) {
            if ((typeof callback) === 'function') {
              $('.cart-count').html(cart.item_count);
              callback(cart);
            }
            else {
              location.reload();  //there might be an ajax cart update for the checkout
            }
          },
          error: function(XMLHttpRequest, textStatus) {
            Shopify.onError(XMLHttpRequest, textStatus);
          },
          async:false
        };
        $.ajax(params);
    };

    </script>

    {{ tracking_code }}
  </body>
</html>
