{% comment %}
	Last Edited May 26, 2017
	[New Carousel, Fancybox was replaced by Tingle for modals and Photoswipe for galleries - May 26]
{% endcomment %}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<link rel="canonical" href="{{ canonical_url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
    <meta name='facebook-domain-verification' content='2yl6dzv09wlqk6y1ucabeu4omsiveg' />
    {{ 'cryptoCore.js' | asset_url | script_tag }}
    {{ 'cryptoSha256.js' | asset_url | script_tag }}
	<script>
		var showPageloadPopup = ('{{ settings.enable_promotion_popup }}' === 'true');
  </script>
  <!-- begin Convert Experiences code-->
<!--   <script type="text/javascript">
    var _conv_page_type = "{% if template == 'index' %}homepage{% else template == "collections" %}collection{% else template == "article" %}article{% else template == "product" %}product{% else template == "cart" %}cart{% else %}other{% endif %}";
    var _conv_category_id = "";
    var _conv_category_name = "{{ collection.title }}";
    var _conv_product_sku = "";
    var _conv_product_name = "{{ product.title }}";
    var _conv_product_price = "{{ product.compare_at_price_min | money }}";
    var _conv_customer_id = "";
    var _conv_custom_v1 = "{{ tag }}";
    var _conv_custom_v2 = "{{ order.shipping_address.province }}";
    var _conv_custom_v3 = "{{ cart.item_count }}";
    var _conv_custom_v4 = "{{ cart.total_price | money_without_currency }}";
  </script>
  <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/10024940_10024467.js"></script> -->
  <!-- end Convert Experiences code -->

	{% if page_description %}
		<meta name="description" content="{{ page_description }}" />
	{% endif %}
    <meta name="google-site-verification" content="PMMAUFgue0Fyc5McuRPkZl0M6ptYwcme6z5WU9msiT4" />
	{% if template == 'index' %}
		<title>{{ page_title }} | {{ shop.name }}</title>
	{% elsif template == '404' %}
		<title>{{ shop.name }} | Page Not Found</title>
    {% elsif template == "search" %}
      {% assign terms = search.terms | strip | split: "OR" %}
      {% assign term = terms.first | remove:"title:" %}
      <title>{{ shop.name }} | search: {{ term | strip | escape}}</title>
	{% else %}
		<title>{{ page_title }}</title>
	{% endif %}
  
  <!--   begin AutomatConductor code -->
  <script async src="https://automat-conductor-v2.s3.ca-central-1.amazonaws.com/Amika/index.js"></script>
  <!-- finish AutomatConductor code -->
	
  <!-- Google Tag Manager OLD -->
  <!--script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K742MVJ');</script-->
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager NEW PER EZRA -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7S6WT');</script>-->
<!-- End Google Tag Manager -->


  <!-- Trafficguard express script -->
  <script>
    var tgshopdomain = "amika-1.myshopify.com";
  </script>
  <script src="https://d3bt4yq3k408c5.cloudfront.net/trafficguard.js" async></script>
  <!-- End Trafficguard express script -->

    {% include 'header_fonts' %}

	{{ 'style.scss.css' | asset_url | stylesheet_tag }}
	{{ 'style-small.scss.css' | asset_url | stylesheet_tag }}
	{{ 'buttons.scss.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
  	{{ 'helpers.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.8.7/magnific-popup.min.css" integrity="sha512-IjUBx6Zc8ke5e8gtJkfVnE7gZtC0NUEQPZIslIqzbBV0BCu1lfFqMgyOUyuVIzyOih3QSyH9KpaDkskibA0ONQ==" crossorigin="anonymous" />

  	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
    <link rel="stylesheet" href="https://use.typekit.net/cft8xoc.css">
    {{ 'simplistic.js' | asset_url | script_tag }}
  	{{ 'slick.min.js' | asset_url | script_tag }}
  	{{ 'cookie.js' | asset_url | script_tag }}
  	{{ 'linked-options.js' | asset_url | script_tag }}
  	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
  	{{ 'ProductJs.js' | asset_url | script_tag }}
  	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  	{{ 'jquery.zoom.min.js' | asset_url | script_tag }}
	  {{ 'hoverintent.jquery.js' | asset_url | script_tag }}
  	{{ 'jquery.scrollTo.min.js' | asset_url | script_tag }}
  	{{ 'jquery-ui.min.js' | asset_url | script_tag }}
  	{{ 'jquery.ui.touch-punch.min.js' | asset_url | script_tag }}
   	{{ 'tingle.min.js' | asset_url | script_tag }}
  	{{ 'resizesensor.js' | asset_url | script_tag }}
  	{{ 'jquery.sticky-sidebar.min.js' | asset_url | script_tag }}
    {{ 'magnificPopup.min.js' | asset_url | script_tag }}

    {{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
    {{ 'rs-bundle.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}

    {{ 'animate.css' | asset_url | stylesheet_tag }}
  	{{ 'tingle.min.css' | asset_url | stylesheet_tag }}

    {{ 'style-guide.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'footer.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'rs-style.scss.css' | asset_url | stylesheet_tag }}

  <!-- Klaviyo Signup Form Snippet -->
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RTevZm"></script>
  {% include 'klaviyo_bis_footer_scripts' %}
  <!-- Klaviyo Signup Form Snippet End -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.8.7/jquery.magnific-popup.min.js" integrity="sha512-ezSCKETdwwmFQrdC/SAWbRrI//rOD52S/YjjkNDVEJiMk/nCYZgawOi1KmPbBpLvwJVyakQKtpxm1/Yd8hwi7A==" crossorigin="anonymous"></script>
  	<script src="https://smarteucookiebanner.upsell-apps.com/gdpr_adapter.js?shop=amika-1.myshopify.com" type="application/javascript"></script>
  {% capture 'header_content' %}{{ content_for_header }}{% endcapture %}
  {{ header_content |replace: '"https:\/\/call.chatra.io\/shopify?chatraId=X9st8C3J59w7S8oTb\u0026shop=amika-1.myshopify.com",', '' | replace: "trekkie.load(", "(window.deferTrekkie || trekkie.load)(" }}


  	{% if template contains 'customers' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}

  	{% include 'fb_open_graph' %}
    {% include 'tracking_codes' %}

    {% if settings.grid_product_image_behavior == "thumbs_swatches" %}
      {% if template == 'index' and settings.home_show_featured_products %}
        {% include 'thumbs_swatches_js' %}
      {% elsif template == 'product' and settings.show_related_products %}
        {% include 'thumbs_swatches_js' %}
      {% elsif template == 'search' or template == 'collection' %}
        {% include 'thumbs_swatches_js' %}
      {% endif %}
    {% endif %}

  {% if product.metafields.inventory.ShappifyHidden == "true" %} <meta name="robots" content="noindex"> {% endif %}


  <script type="text/javascript">(function e()
  {var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/Efn8vfFS1JpoXkmKLYBrVMB3kiGJNoyERi1IJMDc/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}
  )();</script>


  <script>var cartJson = {{ cart | json }}</script>
	{{ 'rs-script.js' | asset_url | script_tag }}
{% include 'sca.freegifts' %}

  <script>
    //Load image faster for popup
    pic = new Image(); pic.src="{{"promotion_bg.png" | asset_url}}";
  </script>

  {% comment %}
  <!-- Meta robots no index -->

  {% if template contains 'product' %}
    {% if product.handle contains 'test' %}
		<meta name="robots" content="noindex">
    {% endif %}
  {% elsif template contains 'collection' %}
 	{% if collection.handle contains 'image-test-collection' %}
		<meta name="robots" content="noindex">
  	{% endif %}
  {% else %}
  {% endif %}

  <!-- END - Meta robots no index -->
  {% endcomment %}

{% include 'google-drm' %}
{% comment %}
  <!-- Global site tag (gtag.js) - Google Ads: 1015451720 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1015451720"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1015451720');
</script>
{% endcomment %}

<meta name="google-site-verification" content="JcfBvm2n-9GiPMvcf9Czf5nR0m6mOeQmKqylby3gW_o" />


  
  {% if template contains 'rewards' or template contains 'refer' or template contains 'account' or template contains 'cart' %}
    {{ 'swell-rewards.scss.css' | asset_url | stylesheet_tag }}
    {{ 'swell-rewards.js'  | asset_url | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'| stylesheet_tag }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  {% endif %}
  
<!-- AccessiBe -->  
<script>(function(){var s = document.createElement('script'),e = ! document.body ? document.querySelector('head') : document.body;s.src = 'https://acsbap.com/apps/app/assets/js/acsb.js';s.async = s.defer = true;s.onload = function(){acsbJS.init({statementLink : '',feedbackLink : '',footerHtml : '',hideMobile : false,hideTrigger : false,language : 'en',position : 'left',leadColor : '#000',triggerColor : '#000',triggerRadius : '50%',triggerPositionX : 'left',triggerPositionY : 'bottom',triggerIcon : 'default',triggerSize : 'medium',triggerOffsetX : 20,triggerOffsetY : 20,mobile : {triggerSize : 'small',triggerPositionX : 'left',triggerPositionY : 'bottom',triggerOffsetX : 0,triggerOffsetY : 'bottom' ,triggerRadius : '0'}});};e.appendChild(s);}());</script>
<!-- End AccessiBe -->    

{% comment %}
<!-- Start of Littledata - Fix Google Analytics Script-->
{% include 'LittledataLayer' %}
<!-- End of Littledata - Fix Google Analytics Script -->
{% endcomment %}

  {% render 'shogun-head' %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/7AnL4oPIjyC6VX59C9s2XA" async></script>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    //Define super-globals
    window.theme = {
      strings: {
        addToCart: 'Add To Bag', // {{ 'products.product.add_to_cart' | t | json }},
        soldOut: 'notify me when available',  // {{ 'products.product.sold_out' | t | json }},
        unavailable: "Please select available options", // {{ 'products.product.unavailable' | t | json }},
        notifyMe: "Notify me when available",
        preorder: {{ 'products.product.pre_order'| t | json}},
        sale: {{'products.product.sale' | t | json}},
        vless: {{'collections.general.view_less' | t | json}},
        vall: {{'collections.general.view_all' | t | json}},
      },
      //shopify driven:
      moneyFormat: {{ shop.money_format | json }},
      //JS driven:
      currency: {{ shop.currency | json}},
      currencyDisplay: 'symbol', //or code or name
      maxQty: 3 // {{ 'settings.maxQty' }} || 9999
    };
    window.slate = {};

    //insert the svg icons into the page so that the icons can be css-ed
    if (window.fetch) {
			fetch("{{'icons.svg' | asset_url}}").then(function(e){return e.text()}).then(function(e){
        $(function(){
        //-because this can run before body is defined, but also after DOMContentLoaded
          document.body.insertAdjacentHTML('afterbegin', e);
        });
			});
    } else {
			var ajax = new XMLHttpRequest();
			ajax.open("GET", "{{'icons.svg' | asset_url}}", true);
			ajax.send();
			ajax.onload = function(e) {
				var div = document.createElement("div");
				div.innerHTML = ajax.responseText;//global variable <- use fetch
				$(function(){
					document.body.insertBefore(div, document.body.childNodes[0]);
				});
			}
		}
  </script>
  {{ 'theme.js' | asset_url | script_tag }}
<script id="sg-js-global-vars">
                        sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] | json }};
                        if(sgGlobalVars) {
                            sgGlobalVars.cart = {{ cart | json }};
                            sgGlobalVars.currentProduct = {{ product | json }};
                            sgGlobalVars.isAdmin = {% if content_for_header contains 'adminBarInjector' or content_for_header contains 'previewBarInjector' %}true{% else %}false{% endif %};
                        }
                    </script></head>
{% comment %} Redirect from product prepack page {% endcomment %}
{% if product.handle contains 'prepack' %}
  <script>
    window.location.replace("{{ shop.secure_url }}");
  </script>
{% endif %}

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }} template-{{ template | replace: '.', '-'| replace: '/', '-'}}">
{% unless customer %}
{{ 'registrationFormJsMinify.js' | asset_url | script_tag }}
{% endunless %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--script async src="https://www.googletagmanager.com/gtag/js?id=UA-150668327-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150668327-1');
  </script-->

  <div class="eva_bundle_pageloader">
    <div class="eva_bundle_pageloader-img"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/amika_Skull_Gif_e493b94b-02fb-4e5d-aef2-548c4ac6d523.gif?105223"></div>
  </div>

{% comment %}
  <!-- Google Tag Manager (noscript) OLD -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K742MVJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endcomment %}

  <!-- Google Tag Manager (noscript) NEW PER EZRA -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7S6WT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!-- Refersion Code -->
  	{{ 'https://cdn.refersion.com/assets/clients/amika/refersion-tingle.min.css' | stylesheet_tag }}
	{{ 'https://cdn.refersion.com/assets/clients/amika/refersion-referral.css' | stylesheet_tag }}
	{{ 'https://cdn.refersion.com/assets/clients/amika/refersion-referral.js' | script_tag }}
  <!-- End Refersion Code -->

  {% comment %}This code below is to prevent the multiple free products in the cart
  It does this on every page?! It else's the entire body, but not the header?
  And it forces a page reload, removing 1 item at a time?
  {% endcomment %}
  {% assign free_gifts = 0 %}
  {% assign gift_position = 0 %}
  {% assign fixGiftQuantityIndex = 0 %}
  {%comment%}
  {% for item in cart.items %}
    {% if item.product.price == 0 %}
      {% assign gift_position = forloop.index %}
      {% assign free_gifts = free_gifts | plus:1 %}
      {% if item.quantity > 3 %} NOT 2?
          {% assign fixGiftQuantityIndex = forloop.index %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% endcomment %}
  {% for item in cart.items %}
  {%  if item.product.price == 0 %}
  {%   for product in collections['samples'].products %}
  {%    if item.id == product.first_available_variant.id %}
      {% assign gift_id = item.id %}
      {% assign free_gifts = free_gifts | plus:1 %}
  {%    endif %}
  {%   endfor %}
      {% if item.quantity > 3 %}
          {% assign fixGiftQuantityId = item.id %}
      {% endif %}
  {%  endif %}
  {% endfor %}
  {% if free_gifts > 3 %}
  <script>
  location = '/cart/change?id={{ gift_id }}&quantity=0';
  </script>
  {% elsif fixGiftQuantityIndex > 0 %}
  <script>
  location = '/cart/change?id={{ fixGiftQuantityId }}&quantity=1';
  </script>
  {% else %}

  <div id="page">
    {% include '_header' %}

    {% comment %}
      if customer is not logged in, redirect to index and show login popup
      {% endcomment %}
    <script>console.log('template name: {{template.name}}')</script>
    
        <div class="content-wrapper clearfix">
      {% if template.name == 'login' or template.name == 'register' or template.suffix == 'terms' or request.page_type == 'customers/activate_account'or request.page_type == 'customers/reset_password' or request.design_mode%}
        {{ content_for_layout }}
      {% elsif template.name == 'index' %}
        {{ content_for_layout }}
        <!-- login alert -->
        {% section 'login-register-alert-new' %}
        {% comment %}{% section 'login-register-alert' %}{% endcomment %}

      {% else %}
        {{ content_for_layout }}
        {% comment %}<script> document.location = window.location.origin; </script>{% endcomment %}
      {% endif %}
      
    </div>
    {% include '_footer' %}

    <div id="loading-overlay"><div class="loader"></div></div>

    <div class="scrollup">
      <a href="#" onclick="$(document).scrollTo('0px', 1000);return false;">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
    {% if template.name != "cart" %}
      {% if settings.allow_side_cart %}
        {% include 'side_cart' %}
      {% endif %}
    {% endif %}
    {% if settings.enable_promotion_popup %}
    	{%if collection.title == 'Flash Sale'%}
    	{% else %}
    	  {% include 'promotion_popup' %}
    	{% endif %}
    {% endif %}

    {% section 'influencer-modal' %}
  </div>

  {% if template == 'index' and settings.show_instagram_feed %}
  	{% include 'photoswipe' %}
  {% else %}
  	{% if template == 'index' or template == 'product' or template == 'product.new' or template == 'product.ticket' or template contains 'collection' %}
  		{% include 'photoswipe' %}
  	{% endif %}
  {% endif %}

  {% include 'iwish_v2' with 'iwishfooter' %}
<script data-cfasync="false" >
  window.saso_config = {
    product_title_max_length: 40,
    crosssell_never_show_popup: false,
    show_upsell_only_in: "product, cart",
    hide_shown_upsells_for: 15, //minutes
    hide_closed_notifications_for: 10, //minutes
    upsell_variant_choose_option: "please select",
    upsell_variant_choose_message: "Please select an option",
    translate_percent_off: '% Off'
  }
</script>
  {% include 'special-offers' %}
  {% endif %}
  {{ 'ajaxify.js' | asset_url | script_tag }}

  <!-- CRITEO START-->
  {% include 'criteo-tracking' %}
  <!-- CRITEO END-->
  {% if customer %}
  	<input type="hidden" id="ct" value="{{ customer.tags }}" />
  {% endif %}
  {% comment %} {% include 'easyvideo' %} {% endcomment %}

  <!-- Dotmailer Script -->

<!-- <script>
                var dm_insight_id ='DM-8035522548-02';
                (function(w,d,u,t,o,c){w['dmtrackingobjectname']=o;c=d.createElement(t);c.async=1;c.src=u;t=d.getElementsByTagName
                (t)[0];t.parentNode.insertBefore(c,t);w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments);};
                })(window, document, '//static.trackedweb.net/js/_dmptv4.js', 'script', 'dmPt');

                /* ----------------------------------------------------------------------------------------------------
                Tracks page visit whenever dmPt function is called, e.g. on start up, after ajax request etc
                window.dmPt('track');

                Tracks page visit with custom key values (object with name/value pairs, only primitive types!)
                window.dmPt('track', { customVar: 'Hello', anotherKey: 'World' });

                Tracks page visit with custom email address. dmPt('track') should be called first (any time before, but must be done).
                window.dmPt('track');
                ---------------------------------------------------------------------------------------------------- */

                /* ----------------------------------------------------------------------------------------------------
                Identify the contact (optional):

                This script does not create a contact in your account.

                You'll need to already have a process in place in which customers are created as contacts when they login, or sign up to, your site.

                ---------------------------------------------------------------------------------------------------- */

  </script> -->

  <!-- New Dotmailer Script as of 11.29.18 -->
  
  {% comment %} 
  <script>
				var dm_insight_id ='DM-8035522548-02';
				(function(w,d,u,t,o,c){w['dmtrackingobjectname']=o;c=d.createElement(t);c.async=1;c.src=u;t=d.getElementsByTagName
        		(t)[0];t.parentNode.insertBefore(c,t);w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments);};w[o]('track');
        		})(window, document, '//static.trackedweb.net/js/_dmptv4.js', 'script', 'dmPt');
  </script> 
  {% endcomment %}

  <!-- End Dotmailer Script -->

  <!-- Dotmailer Script as of 03.18.19 for Site tracking -->
  <script src="https://r2-t.trackedlink.net/_dmpt.js" type="text/javascript"></script>

  <!-- Dotmailer Script as of 03.18.19 for ROI tracking -->
  <script type="text/javascript">
  _dmTrack("product", "Product name 1");
  _dmTrack("product", "Product name 2");
  _dmTrack("product", "Product name 3");
  _dmTrack("CheckOutAmount", "250");
  </script>
  <!-- End Dotmailer Script -->

  <!-- Donation App Script -->
  <script src="https://zestardshop.com/shopifyapp/easy_donation/public/js/donation.js"></script>



  <!-- Bing UET Code -->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26035829"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <!-- END Bing UET Code -->

  <!--  Landing Page Pixel zeta interactive -->
  <script src="https://live.rezync.com/sync?c=16b6410431b6374e780104abb0443ca8&p=2965e116d17354cff5af737a66fe546e&k=amika-landing-page-pixel" type="text/javascript"></script>
  <!-- End Landing Page Pixel zeta interactive -->

  {% unless template == 'cart' or template == 'checkout' %}
    <!--Generic Page Tracking LXRRetailStart -->
    <script type='text/javascript'>
      var _neq = _neq || [];
      _neq.push(['_nebusassid', '625']);
      _neq.push(['_nedomain','loveamika.com']);
      (function () {
        var ne = document.createElement('script');
        ne.type = 'text/javascript';
        ne.async = true;
        ne.id='lxrid';
        ne.setAttribute("_nebusassid", "625");
        ne.src = ('https:'== document.location.protocol ? 'https://' : 'http://') + 'www.adelixir.com/v2track/ne.js';
        var l = document.getElementsByTagName('script')[0];
        l.parentNode.insertBefore(ne, l);
      })();
    </script>
    <!--Generic Page Tracking LXRRetailEnd -->    
  {% endunless %}
  {% if customer %}
    {% include 'predefine_product' %}
  {% endif %}
  {% comment %}  {% endcomment %}
  {% render 'amikaStyles' %}
</body>
</html>
{% comment %} 
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
  // Editable fields:
  var afterpay_min = 0.04;            // As per your Afterpay contract.
  var afterpay_max = 1000.00;         // As per your Afterpay contract.

  // Overrides:
  var afterpay_logo_theme = "black";
  var afterpay_cart_integration_enabled = true;
  var afterpay_product_selector = '#rs-filtervariant .filters'; // '.price:nth-child(1)';
  var afterpay_cart_static_selector = 'div.number';
  var afterpay_app_origin = "https://get.afterpay.com"
  var afterpay_show_currency_code = false;

  // Non-editable fields:
  var afterpay_shop_currency = {{ shop.currency | json }};
  var afterpay_shop_domain = {{ shop.domain | json }};
  var afterpay_shop_money_format = {{ shop.money_format | json }};
  var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
  var afterpay_theme_name = {{ theme.name | json }};
  var afterpay_theme_id = {{ theme.id | json }};
  var afterpay_product = {{ product | json }};
  var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
  var afterpay_js_snippet_version = '1.0.1';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
<!-- <script type="text/javascript" src="https://get.afterpay.com/js/staticHelperLoader.js"></script> -->
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) --> 


<style>
/* Cart page */
#cartform > div.bottom-btns.text-center > div.subtotal > table > tbody > tr:nth-child(1) > td.nine-twelfths.small--nine-twelfths.medium--nine-twelfths.text-right > div {
  margin-top: -3.5em !important;
      }
      p.afterpay-paragraph:not(.pdp) {
           font-size: 13px !important;
           text-align: center !important;
      }
      .afterpay-logo {
           width: 5.5em !important;
           height: auto !important;
      }
      .afterpay-instalments {
           font-weight: bold !important;
           font-size: 13px !important;
      }
</style>
<script>
  $(function (){
  if (afterpay_product && afterpay_product.price < 3500) {
    $('span.afterpay-text2').text(' available for orders over ')
    $('strong.afterpay-instalments').text('$35');
  }
  });
</script>
{% endcomment %}
