{{ 'blog__page.scss.css' | asset_url | stylesheet_tag }}
{{ 'sticky-sidebar.js' | asset_url | script_tag }}
{% comment %}
Blog Image with text
-- Has to use metafield for the blog image
-- Has to use metafield for blog heading and subtitle
-- Has to have mobile image if require
{% endcomment %}
<div  class="blog__hero_wrapper" style="background-image: url({{blog.metafields.blg.img}});">
  <div class="container">
    <div class="blog__hero_text pos-x-{{section.settings.text_align_x}} pos-x-mobile-{{section.settings.text_align_x_mobile}} pos-y-{{section.settings.text_align_y}} pos-y-mobile-{{section.settings.text_align_y_mobile}}">
      <!-- <p class="hero__text" >
        {{blog.metafields.blg.first_text}}
      </p> -->
      <img id="the_strand" src="{{ 'thestrand_logo.png' | asset_img_url: '250x' }}" alt="the strand"/>
      <p class="hero__text sub_text" >
        {{blog.metafields.blg.second_text}}
      </p>
    </div>
  </div>
</div>
<div class="container blog__tag">
  <a href="{{blog.url}}" class="blog__tag_link{% unless current_tags %} blg__active{% endunless %}" >all</a>

  {% for tag in blog.all_tags %}
  {% if tag contains 'tag_' %}
  {% if  current_tags contains tag %}
  <a href="{{blog.url}}/tagged/{{ tag | replace: ' ', '-'  }}" class="blog__tag_link blg__active">{{ tag | split: '_' | last }}</a>
  {% else %}
  <a href="{{blog.url}}/tagged/{{ tag | replace: ' ', '-'  }}" class="blog__tag_link" >{{ tag | split: '_' | last }}</a>
  {% endif %}
  {% endif %}
  {% endfor %}

</div>

<div class="container blog__content_wrapper">
  <div class="grid__item three-quarters small--one-whole medium--one-whole">
    {% paginate blog.articles by 12 %}
    {% for article in blog.articles %}
    {% assign blog__color = "" %}
    {% for tag in article.tags %}
    {% if tag contains 'color_' %}
    {% assign blog__color = tag | split: '_' | last %}
    {% endif %}
    {% endfor %}

    <div class="blog__content" {% if blog__color %}style="background-color: {{blog__color}};"{% endif %}>
      <div class="blog__content_image" >
        <img src="{{ article.image.src | img_url: 'master' }}" {% unless article.image %} class="no__image" {% endunless %}/>
      </div>
      <div class="blog__content_text" >
        <div class="content__text_wrapper">

          {% for tag in blog.all_tags %}
          {% if tag contains 'tag_' %}
            {% if  current_tags contains tag %}
            <p class="super__title">{{ tag | split: '_' | last | upcase }}</p>            
          {% break %}
            {% endif %}
          {% endif %}
          {% endfor %}

          <h2 class="heading__title">{{ article.title }}</h2>
          <p class="article__content">{{ article.excerpt_or_content | strip_html | truncatewords: 25, "" }}...<a href="{{article.url}}" class="article__read_more">read more</a></p>
        </div>
      </div>
    </div>
    {% endfor %}

    {% endpaginate %}
  </div>
  <div class="grid__item one-quarter small--hide medium--hide" id="RS_sidebar">
    <div class="featured__content">
      <div class="klaviyo__signup"> 
        {% if settings.klaviyo_signup_image != nil %}
          <div class="signup__image">
            <img src="{{ settings.klaviyo_signup_image | img_url: 'master' }}" alt="Image" />
          </div>
        {% endif %}

        <form method="GET" id="blog_subscribe" target="_blank">
          <input type="hidden" name="g" value="XrQHjy">        
          <div class="signup__inputs">
            <div class="input__group">
              <input type="email" name="email" class="email-input" id="blog_subscribe_email" placeholder="Email" spellcheck="false" autocomplete="off" autocapitalize="off" required>
              <input type="submit" class="Notify_me fa animation" value="Subscribe" name="subscribe" id="blog_subscribe_submit">
            </div>
          </div>        
        </form>
      </div> 

      {% if articles[settings.custom_featured_post].image.src %}
      <img class="sidebar__featured_img" src="{{articles[settings.custom_featured_post].image.src | img_url: '500x' }}">
      <div class="featured__text">
        <h2>{{articles[settings.custom_featured_post].title}}</h2>
        <p>{{ articles[settings.custom_featured_post].excerpt_or_content | strip_html | truncatewords: 5, "..." }}<a href="{{articles[settings.custom_featured_post].url}}" class="feature__read_more">find out</a></p>
      </div>
      {% endif %}
      <div class="pop__article">
        {% if articles[settings.popular_article_1].image.src or articles[settings.popular_article_2].image.src or articles[settings.popular_article_3].image.src or articles[settings.popular_article_4].image.src %} 
        <p class="pop__article_title">most popular</p>
        {% endif %}
        {% if articles[settings.popular_article_1].image.src %}
        <a href="{{articles[settings.popular_article_1].url}}">
          <div class="pop__art">
            <img src="{{ articles[settings.popular_article_1].image.src | img_url: '200x' }}">
            <div class="pop__art_text">
              {% for tag in articles[settings.popular_article_1].tags  %}
              {% if tag contains 'tag_' %}
              <p class="super__text">{{ tag | split: '_' | last | upcase }}</p>
              {% break %}
              {% endif %}
              {% endfor %}
              <p class="art__title">{{articles[settings.popular_article_1].title}}</p>
            </div>
          </div>
        </a>
        {% endif %}
        {% if articles[settings.popular_article_2].image.src %}
        <a href="{{articles[settings.popular_article_2].url}}">
          <div class="pop__art">
            <img src="{{ articles[settings.popular_article_2].image.src | img_url: '200x' }}">
            <div class="pop__art_text">
              {% for tag in articles[settings.popular_article_2].tags  %}
              {% if tag contains 'tag_' %}
              <p class="super__text">{{ tag | split: '_' | last | upcase }}</p>
              {% break %}
              {% endif %}
              {% endfor %}
              <p class="art__title">{{articles[settings.popular_article_2].title}}</p>
            </div>
          </div>
        </a>
        {% endif %}
        {% if articles[settings.popular_article_3].image.src %}
        <a href="{{articles[settings.popular_article_3].url}}">
          <div class="pop__art">
            <img src="{{ articles[settings.popular_article_3].image.src | img_url: '200x' }}">
            <div class="pop__art_text">
              {% for tag in articles[settings.popular_article_3].tags  %}
              {% if tag contains 'tag_' %}
              <p class="super__text">{{ tag | split: '_' | last | upcase }}</p>
              {% break %}
              {% endif %}
              {% endfor %}
              <p class="art__title">{{articles[settings.popular_article_3].title}}</p>
            </div>
          </div>
        </a>
        {% endif %}
        {% if articles[settings.popular_article_4].image.src %}
        <a href="{{articles[settings.popular_article_4].url}}">
          <div class="pop__art">
            <img src="{{ articles[settings.popular_article_4].image.src | img_url: '200x' }}">
            <div class="pop__art_text">
              {% for tag in articles[settings.popular_article_4].tags  %}
              {% if tag contains 'tag_' %}
              <p class="super__text">{{ tag | split: '_' | last | upcase }}</p>
              {% break %}
              {% endif %}
              {% endfor %}
              <p class="art__title">{{articles[settings.popular_article_4].title}}</p>
            </div>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>




<style>
.pagination__center {text-align: center;margin: 30px 0;}
.custom__pagination {display: inline-block;vertical-align: middle;}
.custom__pagination a {color: black;padding: 10px 12px 8px;text-decoration: none;transition: background-color .1s;border: 1px solid #847e7e;
  margin: 0 4px;
  font-size: 14px;
  letter-spacing: 1px;
}
  .custom__pagination a[disabled]{opacity: 0.5;}
  .custom__pagination a.active {background-color: #3c3c3c;color: white;border: 1px solid #3c3c3c;}
  .custom__pagination a:hover:not(.active) {background-color: #d4d4d4; opacity: 1;}
  .custom__pagination a[disabled]:hover {opacity: 0.5;background-color: transparent;}
</style>

{%- paginate blog.articles by 12 -%}
  {%- if paginate.pages > 1 -%}
    {% comment %}<nav role="navigation">
      <ol class="pagination">
        {%- if paginate.previous-%}
          <li>
            <a href="{{ paginate.previous.url }}">
              <span aria-hidden="true">&laquo;</span>
              Previous <span class="visuallyhidden">page</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled">
            <span aria-hidden="true">&laquo;</span>
            Previous <span class="visuallyhidden">page</span>
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li>
              <a href="{{ part.url }}">
                <span class="visuallyhidden">page</span> {{ part.title }}
              </a>
            </li>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <li class="active" aria-current="page">
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
            {%- else -%}
              <li>
                <span class="visuallyhidden">page</span> {{ part.title }}
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a href="{{ paginate.next.url }}">
              Next <span class="visuallyhidden">page</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled">
            Next <span class="visuallyhidden">page</span>
            <span aria-hidden="true">&raquo;</span>
          </li>
        {%- endif -%}
      </ol>
    </nav>{% endcomment %}
    <div class="pagination__center">
      <div class="custom__pagination">
        {%- if paginate.previous -%}
        	<a class="btn__nav" href="{{ paginate.previous.url }}">&laquo; Prev</a>
        {%- else -%}
        	<a class="btn__nav" disabled>&laquo; Prev</a>
        {%- endif -%}
        
        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
          	<a href="{{ part.url }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <a href="{{ part.url }}" class="active">{{ part.title }}</a>
            {%- else -%}
              <a href="{{ part.url }}">{{ part.title }}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if paginate.next -%}
        <a class="btn__nav" href="{{ paginate.next.url }}">Next &raquo;</a>
        {%- else -%}
        <a class="btn__nav" disabled>Next &raquo;</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
{%- endpaginate -%}



<div class="insta-title" style="margin-top: 40px;">
  <a href="http://www.instagram.com/amika/" target="_blank">@amika</a>
</div>
<div class="container yotpo-gallery-home">
  <div class="yotpo yotpo-pictures-widget"
       data-album-id="5b805e594dafbd51dc188793"
       data-layout="num_of_rows"
       data-layout-rows="1"
       data-spacing="1"
       data-title="0"
       data-hover-color="#ffffff"
       data-hover-opacity="0.8"
       data-hover-icon="true"
       data-cta-text="Shop Now"
       data-cta-color="#2f84ed"
       data-upload-button="0">
  </div>
</div>
{%if blog.articles_count >= 3%}
<script>
  $( document ).ready( function() {
    new StickySidebar('#RS_sidebar', { topSpacing: $('#header').height() });
  });
</script>
{% endif %}


<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>		
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#blog_subscribe', {
    hide_form_on_success: true,
    extra_properties: {
      $source: 'The Strand'
    }
  });
  $(function(){
    $("form#blog_subscribe").on("submit", function() {
      $('form#blog_subscribe').hide();
      $('form#blog_subscribe').after('<div class="subscribe-success">Thank you!</div>');
    });
  });
</script> 


<style>
  @media (min-width: 749px) {
    .blog__hero_text.pos-y-top {
      top: 80px;
    }

    .blog__hero_text.pos-y-bottom {
      bottom: 0px;
    }

    .blog__hero_text.pos-y-center {
      top: 50%;
      transform: translateY(-50%)
    }

    .blog__hero_text.pos-x-left {
      left: 0
    }

    .blog__hero_text.pos-x-right {
      right: 0
    }

    .blog__hero_text.pos-x-center {
      left: 50%;
      transform: translateX(-50%)
    }

    .blog__hero_text.pos-x-center.pos-y-center {
      transform: translate(-50%, -50% );
    }

    .blog__hero_text .hero__text{
      color: 		   {{ section.settings.maintext-color }} !important;
      text-align: 	   {{ section.settings.maintext-text-align }} !important;
      text-decoration: {% if  section.settings.maintext-text-decoration %} underline {% else %} initial {% endif %} !important;
      text-transform:  {{ section.settings.maintext-text-transform }} !important;
      font-family: 	   {{ section.settings.maintext-font-family }} !important;
      font-weight:     {{ section.settings.maintext-font-weight }} !important;
      font-size: calc( {{ section.settings.maintext-fontSize-min}}px + ({{section.settings.maintext-fontSize-max}} - {{section.settings.maintext-fontSize-min}}) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 	   {{ section.settings.maintext-line-height }} !important;
        letter-spacing:  {{ section.settings.maintext-letter-spacing }}px !important;
        margin: 0px;
        }
    .blog__hero_text .hero__text.sub_text {
      color: 		   {{ section.settings.maintext-color_sub }} !important;
      text-align: 	   {{ section.settings.maintext-text-align_sub }} !important;
      text-decoration: {% if  section.settings.maintext-text-decoration_sub %} underline {% else %} initial {% endif %} !important;
      text-transform:  {{ section.settings.maintext-text-transform_sub }} !important;
      font-family: 	   {{ section.settings.maintext-font-family_sub }} !important;
      font-weight:     {{ section.settings.maintext-font-weight_sub }} !important;
      font-size: calc( {{ section.settings.maintext-fontSize-min_sub}}px + ({{section.settings.maintext-fontSize-max_sub}} - {{section.settings.maintext-fontSize-min_sub}}) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 	   {{ section.settings.maintext-line-height_sub }} !important;
        letter-spacing:  {{ section.settings.maintext-letter-spacing_sub }}px !important;
        margin: 0px;
        }
  }

  @media (max-width: 748px) {

    .blog__hero_text.pos-y-mobile-top {
      top: 35px;
      position: absolute !important;
      width: 80%;
    }
    .blog__hero_wrapper{
      background-position:center center;
    }
    .blog__hero_text.pos-y-mobile-bottom {
      bottom: 20px;
      position: absolute !important;
      width: 80%;
    }
    .blog__hero_text.pos-x-mobile-left.pos-y-mobile-center,
    .blog__hero_text.pos-x-mobile-right.pos-y-mobile-center{
      transform: translateY(-50%) !important;
    }
    .blog__hero_text.pos-y-mobile-center {
      top: 50%;;
      transform: translateY(-50%);
      position: absolute !important;
      width: 80%;
    }

    .blog__hero_text.pos-x-mobile-left {
      left: 0;
      transform: none !important;
    }

    .blog__hero_text.pos-x-mobile-right {
      right: 0;
      /*       position:absolute !important; */
      transform: none !important;
    }

    .blog__hero_text.pos-x-mobile-center {
      left: 50%;
      transform: translateX(-50%);
    }

    .blog__hero_text.pos-x-center.pos-y-mobile-center {
      transform: translate(0%, -50% );
    }
    .blog__hero_text.pos-x-mobile-center.pos-y-mobile-center {
      transform: translate(-50%, -50% );
    }

  }

  .blog__hero_text {
    padding:0px 10px;
    max-width: 1000px;
    box-sizing: border-box;

  }

  @media(min-width:749px){
    .blog__hero_text {
      padding:40px 80px;
    }
  }



  @media (max-width: 748px) {
    .blog__hero_text .hero__text {
      color: 		       {{ section.settings.maintext-color_mob }} !important;
      text-align: 	   {{ section.settings.maintext-text-align_mob }} !important;
      text-decoration: {% if  section.settings.maintext-text-decoration_mob %} underline {% else %} initial {% endif %} !important;
      text-transform:  {{ section.settings.maintext-text-transform_mob }} !important;
      font-family: 	   {{ section.settings.maintext-font-family_mob }} !important;
      font-weight:     {{ section.settings.maintext-font-weight_mob }} !important;
      font-size: calc( {{ section.settings.maintext-fontSize-min_mob}}px + ({{section.settings.maintext-fontSize-max_mob}} - {{section.settings.maintext-fontSize-min_mob}}) * ((100vw - 300px) / (1600 - 300))) !important;
        line-height: 	   {{ section.settings.maintext-line-height_mob }} !important;
        letter-spacing:  {{ section.settings.maintext-letter-spacing_mob }}px !important;
        margin: 0px;
        }
    @media (max-width: 748px) {
      .blog__hero_text .hero__text.sub_text {
        color: 		       {{ section.settings.maintext-color_mob_sub }} !important;
        text-align: 	   {{ section.settings.maintext-text-align_mob_sub }} !important;
        text-decoration: {% if  section.settings.maintext-text-decoration_mob_sub %} underline {% else %} initial {% endif %} !important;
        text-transform:  {{ section.settings.maintext-text-transform_mob_sub }} !important;
        font-family: 	   {{ section.settings.maintext-font-family_mob_sub }} !important;
        font-weight:     {{ section.settings.maintext-font-weight_mob_sub }} !important;
        font-size: calc( {{ section.settings.maintext-fontSize-min_mob_sub}}px + ({{section.settings.maintext-fontSize-max_mob_sub}} - {{section.settings.maintext-fontSize-min_mob_sub}}) * ((100vw - 300px) / (1600 - 300))) !important;
          line-height: 	   {{ section.settings.maintext-line-height_mob_sub }} !important;
          letter-spacing:  {{ section.settings.maintext-letter-spacing_mob_sub }}px !important;
          margin: 0px;
          }
    }


</style>


{% schema %}
  {
    "name": "Section-Blog",
    "settings": [
    {
          "type" :    "header",
          "content" : "Text Position"
    },
            {
              "type": "select",
              "id": "text_align_x",
              "label": "Text Alignment - Horizontal",
              "options": [
                {"value": "left", "label": "Left"},
                {"value": "center", "label": "Center"},
                {"value": "right", "label": "Right"}
            ],
            "default": "center"
            },
            {
              "type": "select",
              "id": "text_align_x_mobile",
              "label": "Mobile Text Alignment - Horizontal",
              "options": [
                {"value": "left", "label": "Left"},
                {"value": "center", "label": "Center"},
                {"value": "right", "label": "Right"}
              ],
              "default": "center"
            },
            {
                "type": "select",
                "id": "text_align_y",
                "label": "Text Alignment - Vertical",
                "options": [
                  {"value": "top", "label": "Top"},
                  {"value": "center", "label": "Center"},
                  {"value": "bottom", "label": "Bottom"}
                ],
                "default": "center"
            },
            {
              "type": "select",
              "id": "text_align_y_mobile",
              "label": "Mobile Text Alignment - Vertical",
              "options": [
                {"value": "top", "label": "Top"},
                {"value": "center", "label": "Center"},
                {"value": "bottom", "label": "Bottom"}
              ],
              "default": "center"
            },

            {
              "type" :    "header",
              "content" : "Desktop Banner Main Text"
            },
			{
              "type": "color",
              "id": "maintext-color",
              "label": "Text color",
              "default": "#000000"
            },
			{
              "type": "select",
              "id": "maintext-font-family",
              "label": "Font Family ",
              "options": [
                {"value": "FuturaND", "label": "Futura ND"}
              ],
              "default": "FuturaND"
            },
            {
              "type": "range",
              "id": "maintext-fontSize-min",
              "min": 0,
              "max": 75,
              "step": 1,
              "unit": "px",
              "label": "Font Min Size",
              "default": 30
            },
            {
              "type": "range",
              "id": "maintext-fontSize-max",
              "min": 0,
              "max": 75,
              "step": 1,
              "unit": "px",
              "label": "Font Max Size",
              "default": 48
            },
            {
              "type": "select",
              "id": "maintext-font-weight",
              "label": "Font Weight",
              "options": [
				{
                  "value": "400",
                  "label": "Regular"
                },
                {
                  "value": "500",
                  "label": "Normal"
                },
                {
                  "value": "600",
                  "label": "Bold"
                }
              ],
              "default": "500"
             },
             {
               "type": "select",
               "id": "maintext-text-align",
               "label": "Text Alignment",
               "options": [
                 {"value": "left", "label": "Left"},
                 {"value": "center", "label": "Center"},
                 {"value": "right", "label": "Right"}
               ],
               "default": "left"
             },
			 {
               "type": "select",
               "id": "maintext-text-transform",
               "label": "Text Transform",
               "options": [
                 {"value": "capitalize", "label": "Camel Case"},
                 {"value": "lowercase",  "label": "Lower case"},
                 {"value": "uppercase",  "label": "Upper case"},
                 {"value": "none", 	  "label": "None"}
               ],
               "default": "uppercase"
             },
             {
               "type": "range",
               "id": "maintext-line-height",
               "min": 1,
               "max": 10,
               "step": 0.2,
               "unit": "em",
               "label": "Line Height",
               "default": 1
             },
			 {
               "type": "range",
               "id": "maintext-letter-spacing",
               "min": 0,
               "max": 40,
               "step": 1,
               "unit": "px",
               "label": "Letter Spacing",
               "default": 0
             },
			 {
               "type": "checkbox",
               "id": "maintext-text-decoration",
               "label": "Text underline ?",
               "default": false
             },



             {
                   "type" :    "header",
                   "content" : "Desktop Subtitle Text"
                 },
             {
                     "type": "color",
                     "id": "maintext-color_sub",
                     "label": "Text color",
                     "default": "#000000"
                   },
       			{
                     "type": "select",
                     "id": "maintext-font-family_sub",
                     "label": "Font Family ",
                     "options": [
                       {"value": "FuturaND", "label": "Futura ND"}
                     ],
                     "default": "FuturaND"
                   },
                   {
                     "type": "range",
                     "id": "maintext-fontSize-min_sub",
                     "min": 0,
                     "max": 75,
                     "step": 1,
                     "unit": "px",
                     "label": "Font Min Size",
                     "default": 30
                   },
                   {
                     "type": "range",
                     "id": "maintext-fontSize-max_sub",
                     "min": 0,
                     "max": 75,
                     "step": 1,
                     "unit": "px",
                     "label": "Font Max Size",
                     "default": 48
                   },
                   {
                     "type": "select",
                     "id": "maintext-font-weight_sub",
                     "label": "Font Weight",
                     "options": [
       				{
                         "value": "400",
                         "label": "Regular"
                       },
                       {
                         "value": "500",
                         "label": "Normal"
                       },
                       {
                         "value": "600",
                         "label": "Bold"
                       }
                     ],
                     "default": "500"
                    },
                    {
                      "type": "select",
                      "id": "maintext-text-align_sub",
                      "label": "Text Alignment",
                      "options": [
                        {"value": "left", "label": "Left"},
                        {"value": "center", "label": "Center"},
                        {"value": "right", "label": "Right"}
                      ],
                      "default": "left"
                    },
       			 {
                      "type": "select",
                      "id": "maintext-text-transform_sub",
                      "label": "Text Transform",
                      "options": [
                        {"value": "capitalize", "label": "Camel Case"},
                        {"value": "lowercase",  "label": "Lower case"},
                        {"value": "uppercase",  "label": "Upper case"},
                        {"value": "none", 	  "label": "None"}
                      ],
                      "default": "uppercase"
                    },
                    {
                      "type": "range",
                      "id": "maintext-line-height_sub",
                      "min": 1,
                      "max": 10,
                      "step": 0.2,
                      "unit": "em",
                      "label": "Line Height",
                      "default": 1
                    },
       			 {
                      "type": "range",
                      "id": "maintext-letter-spacing_sub",
                      "min": 0,
                      "max": 40,
                      "step": 1,
                      "unit": "px",
                      "label": "Letter Spacing",
                      "default": 0
                    },
       			 {
                      "type": "checkbox",
                      "id": "maintext-text-decoration_sub",
                      "label": "Text underline ?",
                      "default": false
                    },






            {
              "type" :    "header",
              "content" : "Mobile Banner Main Text"
            },
            {
              "type": "color",
              "id": "maintext-color_mob",
              "label": "Text color",
              "default": "#000000"
            },
            {
              "type": "select",
              "id": "maintext-font-family_mob",
              "label": "Font Family ",
              "options": [
                {"value": "FuturaND", "label": "Futura ND"}
              ],
              "default": "FuturaND"
            },
            {
              "type": "range",
              "id": "maintext-fontSize-min_mob",
              "min": 0,
              "max": 75,
              "step": 1,
              "unit": "px",
              "label": "Font Min Size",
              "default": 30
            },
            {
              "type": "range",
              "id": "maintext-fontSize-max_mob",
              "min": 0,
              "max": 75,
              "step": 1,
              "unit": "px",
              "label": "Font Max Size",
              "default": 48
            },
            {
              "type": "select",
              "id": "maintext-font-weight_mob",
              "label": "Font Weight",
              "options": [
                {
                  "value": "400",
                  "label": "Regular"
                },
                {
                  "value": "500",
                  "label": "Normal"
                },
                {
                  "value": "600",
                  "label": "Bold"
                }
              ],
              "default": "500"
             },
             {
               "type": "select",
               "id": "maintext-text-align_mob",
               "label": "Text Alignment",
               "options": [
                 {"value": "left", "label": "Left"},
                 {"value": "center", "label": "Center"},
                 {"value": "right", "label": "Right"}
               ],
               "default": "left"
             },
             {
               "type": "select",
               "id": "maintext-text-transform_mob",
               "label": "Text Transform",
               "options": [
                 {"value": "capitalize", "label": "Camel Case"},
                 {"value": "lowercase",  "label": "Lower case"},
                 {"value": "uppercase",  "label": "Upper case"},
                 {"value": "none", 	  "label": "None"}
               ],
               "default": "uppercase"
             },
             {
               "type": "range",
               "id": "maintext-line-height_mob",
               "min": 1,
               "max": 10,
               "step": 0.2,
               "unit": "em",
               "label": "Line Height",
               "default": 1
             },
             {
               "type": "range",
               "id": "maintext-letter-spacing_mob",
               "min": 0,
               "max": 40,
               "step": 1,
               "unit": "px",
               "label": "Letter Spacing",
               "default": 0
             },
             {
               "type": "checkbox",
               "id": "maintext-text-decoration_mob",
               "label": "Text underline ?",
               "default": false
             },







             {
               "type" :    "header",
               "content" : "Mobile Subtitle Text"
             },
             {
               "type": "color",
               "id": "maintext-color_mob_sub",
               "label": "Text color",
               "default": "#000000"
             },
             {
               "type": "select",
               "id": "maintext-font-family_mob_sub",
               "label": "Font Family ",
               "options": [
                 {"value": "FuturaND", "label": "Futura ND"}
               ],
               "default": "FuturaND"
             },
             {
               "type": "range",
               "id": "maintext-fontSize-min_mob_sub",
               "min": 0,
               "max": 75,
               "step": 1,
               "unit": "px",
               "label": "Font Min Size",
               "default": 30
             },
             {
               "type": "range",
               "id": "maintext-fontSize-max_mob_sub",
               "min": 0,
               "max": 75,
               "step": 1,
               "unit": "px",
               "label": "Font Max Size",
               "default": 48
             },
             {
               "type": "select",
               "id": "maintext-font-weight_mob_sub",
               "label": "Font Weight",
               "options": [
                 {
                   "value": "400",
                   "label": "Regular"
                 },
                 {
                   "value": "500",
                   "label": "Normal"
                 },
                 {
                   "value": "600",
                   "label": "Bold"
                 }
               ],
               "default": "500"
              },
              {
                "type": "select",
                "id": "maintext-text-align_mob_sub",
                "label": "Text Alignment",
                "options": [
                  {"value": "left", "label": "Left"},
                  {"value": "center", "label": "Center"},
                  {"value": "right", "label": "Right"}
                ],
                "default": "left"
              },
              {
                "type": "select",
                "id": "maintext-text-transform_mob_sub",
                "label": "Text Transform",
                "options": [
                  {"value": "capitalize", "label": "Camel Case"},
                  {"value": "lowercase",  "label": "Lower case"},
                  {"value": "uppercase",  "label": "Upper case"},
                  {"value": "none", 	  "label": "None"}
                ],
                "default": "uppercase"
              },
              {
                "type": "range",
                "id": "maintext-line-height_mob_sub",
                "min": 1,
                "max": 10,
                "step": 0.2,
                "unit": "em",
                "label": "Line Height",
                "default": 1
              },
              {
                "type": "range",
                "id": "maintext-letter-spacing_mob_sub",
                "min": 0,
                "max": 40,
                "step": 1,
                "unit": "px",
                "label": "Letter Spacing",
                "default": 0
              },
              {
                "type": "checkbox",
                "id": "maintext-text-decoration_mob_sub",
                "label": "Text underline ?",
                "default": false
              }
		]
  }
{% endschema %}

