{% schema %}
{
  "name": "Hero Carousel Mobile",
  "class": "carousel",
  "max_blocks": 15,
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_height",
      "label": "Full height?",
      "default": true
    },
    {
      "type": "text",
      "id": "img_height",
      "label": "Height (if not full)",
      "default": "45%"
    },
    {
      "type": "select",
      "id": "fade",
      "label": "Effect",
      "options": [
        {
          "value": "false",
          "label": "Slide"
        },
        {
          "value": "true",
          "label": "Fade in/out"
        }
      ],
      "default": "true"
    },
    {
      "type": "header",
      "content": "Arrows"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows?",
      "default": true
    },
    {
      "type": "color",
      "id": "arrow_color",
      "label": "Arrow color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "arrow_hover_color",
      "label": "Arrow color on hover",
      "default": "#0089ff"
    },
    {
      "type": "header",
      "content": "Dots"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show dots?",
      "default": true
    },
    {
      "type": "color",
      "id": "dots_color",
      "label": "Dots color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "dots_active_color",
      "label": "Active dot color",
      "default": "#0089ff"
    },
    {
      "type": "range",
      "min": 0,
      "max": 4,
      "step": 1,
      "default": 4,
      "id": "text_size",
      "label": "Carousel Text Size",
      "info": "Set with vw instead of pixels so that it'll adjust according to the viewport width."
    },
    {
      "type": "select",
      "id": "slider_speed",
      "label": "Slider Autoplay Speed",
      "options": [
        {"value": "0", "label": "Off"},
        {"value": "3000", "label": "3 Seconds"},
        {"value": "5000", "label": "5 Seconds"},
        {"value": "7000", "label": "7 Seconds"}
      ],
      "default": "5000"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
        {
          "type":"image_picker",
          "id":"reduced_motion_image",
          "label": "Alt Image for Reduced Motion Users"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "checkbox",
          "id": "show_captions",
          "label": "Show captions?",
          "default": true
        },
        {
          "type": "text",
          "id": "overlay_color",
          "label": "Background color (r,g,b,a)",
          "default": "0,0,0,0",
          "info": "0,0,0,0 for no background"
        },
        {
          "type": "header",
          "content": "Text 1"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_margin_left",
          "label": "Text margin left",
          "default": "0"
        },
        {
          "type": "text",
          "id": "text_margin_right",
          "label": "Text margin right",
          "default": "0"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is a Slide"
        },
        {
            "type": "select",
            "id": "header-font-family",
            "label": "Header Font Family ",
            "options": [
              {"value": "FuturaND", "label": "Futura ND"},
              {"value": "FuturaNDBook", "label": "Futura ND Book"}
            ],
            "default": "FuturaND"
        },
        {
          "type": "select",
          "id": "header-font-weight",
          "label": "Header Font Weight",
          "options": [
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "500",
              "label": "Bold"
            }
          ],
          "default": "500"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Nunc eu eros augue. Cras tempus finibus mi, at aliquet orci vestibulum sit amet.</p>"
        },
        {
          "type": "html",
          "id": "button",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "color",
          "id": "button_border",
          "label": "Button Border",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Email Settings"
        },
        {
          "type": "checkbox",
          "id": "show_email",
          "label": "Show Email form?",
          "default": false
        },
        {
          "type": "text",
          "id": "email__addressID",
          "label": "Address Book ID",
          "default": "5284766"
        },
        {
          "type": "header",
          "content": "Featured Image"
        },
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "featured_image_width",
          "label": "Width",
          "default": "25%"
        },
        {
          "type": "text",
          "id": "featured_image_right",
          "label": "Right Coordinates",
          "default": "10%"
        },
        {
          "type": "text",
          "id": "featured_image_left",
          "label": "Left Coordinates",
          "default": "auto"
        },
        {
          "type": "select",
          "id": "featured_image_position",
          "label": "Alignment",
          "options": [
            {
              "value": "center top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "center bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Effects"
        },
        {
          "type": "select",
          "id": "title_effect",
          "label": "Title Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "text_effect",
          "label": "Description Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "button_effect",
          "label": "Button Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "image_effect",
          "label": "Image Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInLeft"
        }
      ]
    },
    {
      "type": "slide_video",
      "name": "Slide Video ",
      "settings": [
        {
          "type": "text",
          "id": "video_link",
          "label": "Video Link (mp4)"
        },
        {
          "type": "checkbox",
          "id": "show_captions",
          "label": "Show captions?",
          "default": true
        },
        {
          "type": "text",
          "id": "overlay_color",
          "label": "Background color (r,g,b,a)",
          "default": "0,0,0,0",
          "info": "0,0,0,0 for no background"
        },
        {
          "type": "header",
          "content": "Text 1"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_vertical_align",
          "label": "Text Vertical Alignment",
          "options": [
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "top",
              "label": "Top"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_margin_left",
          "label": "Text margin left",
          "default": "0"
        },
        {
          "type": "text",
          "id": "text_margin_right",
          "label": "Text margin right",
          "default": "0"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is a Slide"
        },
                {
            "type": "select",
            "id": "header-font-family",
            "label": "Header Font Family ",
            "options": [
              {"value": "FuturaND", "label": "Futura ND"},
              {"value": "FuturaNDBook", "label": "Futura ND Book"}
            ],
            "default": "FuturaND"
        },
        {
          "type": "select",
          "id": "header-font-weight",
          "label": "Header Font Weight",
          "options": [
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "500",
              "label": "Bold"
            }
          ],
          "default": "500"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Nunc eu eros augue. Cras tempus finibus mi, at aliquet orci vestibulum sit amet.</p>"
        },
        {
          "type": "html",
          "id": "button",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "color",
          "id": "button_border",
          "label": "Button Border",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Email Settings"
        },
        {
          "type": "checkbox",
          "id": "show_email",
          "label": "Show Email form?",
          "default": false
        },
        {
          "type": "text",
          "id": "email__addressID",
          "label": "Address Book ID",
          "default": "5284766"
        },
        {
          "type": "header",
          "content": "Effects"
        },
        {
          "type": "select",
          "id": "title_effect",
          "label": "Title Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "text_effect",
          "label": "Description Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "button_effect",
          "label": "Button Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInUp"
        },
        {
          "type": "select",
          "id": "image_effect",
          "label": "Image Effect",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "fadeIn"
            },
            {
              "value": "fadeInDown",
              "label": "fadeInDown"
            },
            {
              "value": "fadeInLeft",
              "label": "fadeInLeft"
            },
            {
              "value": "fadeInRight",
              "label": "fadeInRight"
            },
            {
              "value": "fadeInUp",
              "label": "fadeInUp"
            },
            {
              "value": "bounceIn",
              "label": "bounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "bounceInDown"
            },
            {
              "value": "bounceInLeft",
              "label": "bounceInLeft"
            },
            {
              "value": "bounceInRight",
              "label": "bounceInRight"
            },
            {
              "value": "bounceInUp",
              "label": "bounceInUp"
            },
            {
              "value": "flipInX",
              "label": "flipInX"
            },
            {
              "value": "flipInY",
              "label": "flipInY"
            },
            {
              "value": "zoomIn",
              "label": "zoomIn"
            },
            {
              "value": "zoomInDown",
              "label": "zoomInDown"
            },
            {
              "value": "zoomInLeft",
              "label": "zoomInLeft"
            },
            {
              "value": "zoomInRight",
              "label": "zoomInRight"
            },
            {
              "value": "zoomInUp",
              "label": "zoomInUp"
            }
          ],
          "default": "fadeInLeft"
        }
      ]
    },
    {
      "type": "slide-half-image",
      "name": "Slide (Half Image)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type":"image_picker",
          "id":"reduced_motion_image",
          "label": "Alt Slide Image for Reduced Motion Users"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Background color",
          "default": "transparent"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is a Slide"
        },
        {
            "type": "select",
            "id": "header-font-family",
            "label": "Header Font Family ",
            "options": [
              {"value": "FuturaND", "label": "Futura ND"},
              {"value": "FuturaNDBook", "label": "Futura ND Book"}
            ],
            "default": "FuturaND"
        },
        {
          "type": "select",
          "id": "header-font-weight",
          "label": "Header Font Weight",
          "options": [
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "500",
              "label": "Bold"
            }
          ],
          "default": "500"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Nunc eu eros augue. Cras tempus finibus mi, at aliquet orci vestibulum sit amet.</p>"
        },
        {
          "type": "html",
          "id": "button",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "color",
          "id": "button_border",
          "label": "Button Border",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background Color",
          "default": "#000"
        },        
        {
          "type": "color",
          "id": "button_border_hvr",
          "label": "Button Border on Hover",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_text_color_hvr",
          "label": "Button Text Color on Hover",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_bg_color_hvr",
          "label": "Button Background Color on Hover",
          "default": "#fff"
        },
        {
          "type": "html",
          "id": "disclaimer",
          "label": "Disclaimer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Carousel Mobile",
      "category": "Image",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  #shopify-section-{{ section.id }} {display:none}
  #shopify-section-{{ section.id }} .hero-carousel .slick-arrow {color: {{section.settings.arrow_color}};font-size:50px;text-shadow:0px 0px 1px #666;}
  .isNotMobile #shopify-section-{{ section.id }} .hero-carousel .slick-arrow:hover {color: {{section.settings.arrow_hover_color}};}
  .isNotMobile #shopify-section-{{ section.id }} .hero-carousel:hover .left-arrow{left:20px;opacity:1;}
  .isNotMobile #shopify-section-{{ section.id }} .hero-carousel:hover .right-arrow{right:20px;opacity:1;}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots{bottom:5px;}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots li button {background: {{section.settings.dots_color}}; border: 3px solid {{section.settings.dots_color}};box-shadow:0px 0px 1px 0px #666;}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots li.slick-active button {background: {{ section.settings.dots_active_color }}; border-color: {{ section.settings.dots_active_color }};}
  #shopify-section-{{ section.id }} .hero-carousel .item_img.normal {padding-top: {{section.settings.img_height}};}
  #shopify-section-{{ section.id }} .hero-carousel .mobile-image{display:none;}
  @media all and (min-width: 601px) and (max-width: 900px) {
    /*#shopify-section-{{ section.id }} .hero-carousel .item_img.normal {padding-top: 70%;}*/
  }
  @media all and (max-width: 768px) {
    #shopify-section-{{ section.id }} {display:block}
    #shopify-section-{{ section.id }} .hero-carousel .item_img.normal {padding-top: 114%;}
    #shopify-section-{{ section.id }} .hero-carousel .featured-img.desktop-image {position: static; margin: auto; width: 50% !important; height: auto; padding-top: 50%;}
    #shopify-section-{{ section.id }} .hero-carousel .item{padding-bottom:0;}
    #shopify-section-{{ section.id }} .hero-carousel .mobile-image{display:block;}
    /*#shopify-section-{{ section.id }} .hero-carousel .desktop-image{display:none;}*/

    #shopify-section-{{ section.id }} .hero-carousel .captions {width:100%;height:100%;background:none;padding:1.5em}
    #shopify-section-{{ section.id }} .hero-carousel .captions.h-center {left:0}
    /*
    #shopify-section-{{ section.id }} .hero-carousel h1 {font-size:6.6vw; margin-bottom:15px; margin-top:240px;}
    */

    /*#shopify-section-{{ section.id }} .hero-carousel p {font-size:4vw;}*/
    /*#shopify-section-{{ section.id }} .hero-carousel p {font-size:{{section.settings.text_size}}vw;}*/


    #shopify-section-{{ section.id }} .hero-carousel .captions .table .table-cell > div {/*background:rgba(255,255,255,0.75);padding:5px;box-sizing:border-box*/}

    #shopify-section-{{ section.id }} .hero-carousel .captions.v-center {top:0}

  }
  
  /*    
  #shopify-section-{{ section.id }} .hero-carousel .slider__form .custom-cursor, .slider__form .custom-cursor:hover {
    border-color: #000;
    color: #000;
    background-color: transparent;
    font-weight: 300;
    text-align:center;
    }
  */
  #shopify-section-{{ section.id }} .slider__form .email-input {
   border-color: white;
  }
</style>

<div class="hero-carousel {% unless section.settings.full_width %}container{% endunless %} custom-cursor">
  {% for block in section.blocks %}
      {% if block.settings.image != blank %}
      {% assign img_url = block.settings.image | img_url: 'master' %}
      {% else %}
      {% assign img_url = "placeholder-image.jpg" | asset_url %}
      {% endif %}

      {% if block.settings.reduced_motion_image != blank %}
        {% assign reduced_motion_img_url = block.settings.reduced_motion_image | img_url: 'master' %}
      {% else %}
        {% assign reduced_motion_img_url = img_url %}
      {% endif %}  
      {% if block.type == 'slide-half-image' %}
        <div class="item block__{{block.id}} {{block.type}} mobile" id="{{ block.id }}">
          <div class="item_img mobile-image mobile-image-{{forloop.index0}} {% if section.settings.full_height %}full-height{% else %}normal{% endif %}"></div>
          <style>
            .item_img.mobile-image-{{forloop.index0}} {
              background-image: url({{ img_url }});
            }

            @media (prefers-reduced-motion: reduce) {
              .item_img.mobile-image-{{forloop.index0}} {
                background-image: url({{ reduced_motion_img_url }});
              }
            }
          </style>
          <div class="overlay overlay-{{forloop.index}} {{block.id}}" style="background-color:{{block.settings.overlay_color}};">
            <div class="text_wrapper {{ block.settings.text_position }}">
              <div class="text_wrapper_inner text--{{block.settings.text_align}}">
                {% if block.settings.title != "" %}
                  <h1 style="font-family: '{{block.settings.header-font-family}}';font-weight: {{block.settings.header-font-weight}};" class="title {% if forloop.first %}animated {{block.settings.title_effect}}{% else %}{% if block.settings.title_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.title_effect != "" %}data-effect="{{block.settings.title_effect}}"{% endif %}>
                  {{ block.settings.title }}
                  </h1>
                {% endif %}
                {% if block.settings.text != "" %}
                  <div class="text {% if forloop.first %}animated {{block.settings.text_effect}}{% else %}{% if block.settings.text_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.text_effect != "" %}data-effect="{{block.settings.text_effect}}"{% endif %}>
                    {{ block.settings.text }}
                  </div>
                {% endif %}
                {% if block.settings.button != "" %}
                  <a id="button--mobile--{{block.id}}" href="{{ block.settings.link }}" class="custom-cursor btn {% if forloop.first %}animated {{block.settings.button_effect}}{% else %}{% if block.settings.button_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.button_effect != "" %}data-effect="{{block.settings.button_effect}}"{% endif %}
                  >
                    {{ block.settings.button }}
                  </a>
                  <style>
                    #button--mobile--{{block.id}}, #button--mobile--{{block.id}}:visited {
                      color: {{block.settings.button_text_color}};
                      background-color: {{block.settings.button_bg_color}};
                      border: 1px solid {{block.settings.button_border}};
                    }
                    #button--mobile--{{block.id}}:hover {
                      color: {{block.settings.button_text_color_hvr}};
                      background-color: {{block.settings.button_bg_color_hvr}};
                      border: 1px solid {{block.settings.button_border_hvr}};
                    };
                  </style>
                {% endif %}
                {% if block.settings.disclaimer %}
                <div class="disclaimer">{{block.settings.disclaimer}}</div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="item" id="{{ block.id }}">
          {% unless  block.settings.show_email %}
          {% if block.settings.link != blank %}
            <a href="{{block.settings.link}}" class="custom-cursor slide-link">
            </a>
          {% endif %}
          {% endunless %}
          
            {% if block.type == 'slide'%}

              <div class="item_img mobile-image mobile-image-{{forloop.index0}} {% if section.settings.full_height %}full-height{% else %}normal{% endif %}"></div>

              <style>
                .item_img.mobile-image-{{forloop.index0}} {
                  background-image: url({{ img_url }});
                }

                @media (prefers-reduced-motion: reduce) {
                  .item_img.mobile-image-{{forloop.index0}} {
                    background-image: url({{ reduced_motion_img_url }});
                  }
                }
              </style>
            {% elsif block.type == 'slide_video' and block.settings.video_link %}
              <video style="width: 100%;vertical-align: middle;"  muted="muted" loop >
                <source src="{{block.settings.video_link}}" type="video/mp4">
              </video>
            {% endif %}

            <div class="overlay overlay-{{forloop.index}}" style="background-color: rgba({{block.settings.overlay_color}});">
              {% if block.settings.show_captions %}
              <div class="captions text-{{block.settings.text_align}}" style="{% if block.settings.text_align == "left" %}margin-right:auto;{% elsif block.settings.text_align == "right" %}margin-left:auto;{% else %}margin-left: auto; margin-right: auto;{% endif %}">
                <div class="table">
                  <div class="table-cell text-vertical-{{block.settings.text_vertical_align}}">
                    {% if block.settings.show_email %}
                    <form id="block__email_{{block.id}}" class="slider__form" data-address_book_id="{{block.settings.email__addressID}}">
                      <input type="hidden" name="g" value="{{block.settings.email__addressID}}">
                      {% endif %}

                      {% if block.settings.title != "" %}
                      <h1 style="font-family: '{{block.settings.header-font-family}}';font-weight: {{block.settings.header-font-weight}};" class="title {% if forloop.first %}animated {{block.settings.title_effect}}{% else %}{% if block.settings.title_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.title_effect != "" %}data-effect="{{block.settings.title_effect}}"{% endif %}>{{ block.settings.title }}</h1>
                      {% endif %}

                      {% if block.settings.text != "" %}
                      <div style="margin-left:{{block.settings.text_margin_left}};margin-right:{{block.settings.text_margin_right}}" class="text {% if forloop.first %}animated {{block.settings.text_effect}}{% else %}{% if block.settings.text_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.text_effect != "" %}data-effect="{{block.settings.text_effect}}"{% endif %}>{{ block.settings.text }}</div>
                      {% endif %}

                      {% if block.settings.show_email %}
                      <input type="email" placeholder="Email here + press enter" name="email" class="required email email-input" >
                      {% endif %}

                      {% if block.settings.button != "" %}
                      <a href="{% unless block.settings.show_email %}{{ block.settings.link }}{% endunless %}" class="custom-cursor">
                        <button style="border: 1px solid {{block.settings.button_border}}; color: {{block.settings.button_text_color}};" class="custom-cursor btn {% if forloop.first %}animated {{block.settings.button_effect}}{% else %}{% if block.settings.button_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.button_effect != "" %}data-effect="{{block.settings.button_effect}}"{% endif %}>{{ block.settings.button }}</button>
                      </a>
                      {% endif %}

                      {% if block.settings.show_email %}
                    </form>
                    <p class="early__access--success hide" style="color: #FFFFFF;">You are now on the list!</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endif %}

              {% if block.settings.featured_image != blank %}
              <div class="featured-img desktop-image {% if forloop.first %}animated {{block.settings.image_effect}}{% else %}{% if block.settings.image_effect != "" %}invisible{% endif %}{% endif %}" {% if block.settings.image_effect != "" %}data-effect="{{block.settings.image_effect}}"{% endif %} style="background-image: url({{ block.settings.featured_image | img_url: 'master' }}); background-position: {{block.settings.featured_image_position}}; width: {{block.settings.featured_image_width}}; right: {{block.settings.featured_image_right}}; left: {{block.settings.featured_image_left}};"></div>
              {% endif %}
            </div>
        </div>
      {% endif %}
  {% endfor %}
</div>

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>   
{% for block in section.blocks %}
{% if block.settings.show_email %}
<script type="text/javascript">   
  KlaviyoSubscribe.attachToForms('#block__email_{{block.id}}', {  
     success: function ($form) {
    console.log("Successfully added!!");
    $('#block__email_{{block.id}}').hide();
      $('.early__access--success').show();

  },
    error: function ($form) {
      console.log("Error occoured!!");
    }   
  });   
</script>
{% endif %}
{% endfor %}


<script>
  $(function(){
    {% if section.settings.full_height %}
      {% if headerMode == "over" %}
        $('.hero-carousel .item_img.full-height').height($(window).height());
        $(window).resize(function(){
          $('.hero-carousel .item_img.full-height').height($(window).height());
        });
      {% else %}
      $('.hero-carousel .item_img.full-height').height($(window).height() - $('.header.main').height());
        $(window).resize(function(){
          $('.hero-carousel .item_img.full-height').height($(window).height() - $('.header.main').height());
        });
      {% endif %}
    {% endif %}

    var heroCarousel = $('#shopify-section-{{ section.id }} .hero-carousel');

    heroCarousel.on('init', function(event, slick){
      if( screen.width < 600 ) {
        $('#shopify-section-{{section.id}} .hero-carousel video').each(function() {
          $(this).get(0).pause();
        });

        if($('#shopify-section-{{section.id}} .hero-carousel [data-slick-index=0] video').length) {
          $('#shopify-section-{{section.id}} .hero-carousel [data-slick-index=0] video').get(0).play();
        }
      }
    });
    
    heroCarousel.slick({
      // Note from AS: don't implement slick accessibility, it actually seems to introduce ADA compliance errors
      accessibility:false,
      // autoplay introduces ADA issues -- users must be given the option to turn off autoplay, or no autoplay at all
      adaptiveHeight: true,
      autoplay: {% if section.settings.slider_speed == '0' %} false {% else %} true {% endif %},
      autoplaySpeed: {{section.settings.slider_speed}},
      dots: {% if section.settings.show_dots %}true{% else %}false{% endif %},
      arrows: {% if section.settings.show_arrows %}true{% else %}false{% endif %},
      fade: {{ section.settings.fade }},
      pauseOnHover: false,
      speed: 1000,
      prevArrow: '<i class="lnr animation left-arrow"><svg class="sprite-icon" width=60px height=60px><use href="#carousel-left-carret" /></svg></i>',
      nextArrow: '<i class="lnr animation right-arrow" style="transform: rotate(180deg);"><svg class="sprite-icon" width=60px height=60px><use href="#carousel-left-carret" /></svg></i>'
    });
    heroCarousel.on('beforeChange', function(event, slick, currentSlide, nextSlide){

      if( screen.width < 600 ) {
        $('#shopify-section-{{section.id}} .hero-carousel video').each(function() {
          $(this).get(0).pause();
        });

        if($('#shopify-section-{{section.id}} .hero-carousel [data-slick-index='+nextSlide+'] video').length) {
          $('#shopify-section-{{section.id}} .hero-carousel [data-slick-index='+nextSlide+'] video').get(0).play();
        }
      }

      setTimeout(function(){
        heroCarousel.find('.slick-slide').each(function(){
          var title = $(this).find('.title');
          var text = $(this).find('.text');
          var button = $(this).find('.btn');
          var image = $(this).find('.featured-img');

          if(title.data('effect')){
            title.removeClass(title.data('effect')).removeClass('animated').addClass('invisible');
          }
          if(text.data('effect')){
            text.removeClass(text.data('effect')).removeClass('animated').addClass('invisible');
          }
          if(button.data('effect')){
            button.removeClass(button.data('effect')).removeClass('animated').addClass('invisible');
          }
          if(image.data('effect')){
            image.removeClass(image.data('effect')).removeClass('animated').addClass('invisible');
          }
        });

        var currentItem = $(slick.$slides[nextSlide]);
        currentItem.find('.title').removeClass('invisible').addClass('animated').addClass(currentItem.find('.title').data('effect'));
        currentItem.find('.text').removeClass('invisible').addClass('animated').addClass(currentItem.find('.text').data('effect'));
        currentItem.find('.btn').removeClass('invisible').addClass('animated').addClass(currentItem.find('.btn').data('effect'));
        if(currentItem.data('effect')){
          currentItem.find('.featured-img').removeClass('invisible').addClass('animated').addClass(currentItem.find('.featured-img').data('effect'));
        }
      }, {% if section.settings.fade == 'true' %}0{% else %}800{% endif %});
    });

  });
</script>