<style>

  .section__category__grid-wrapper {
    max-width: 1050px;
  }

  .section__category__heading {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-family: inherit;
    padding-bottom: 30px;
  }

  .section__grid-list {
    

    @media(min-width:750px) {
      display: grid;
      grid-template-columns: repeat(3,0.7fr);
      grid-column-gap: 5vw;
    }
    
  }
  .section__grid-item {
    list-style: none;
    border: 1px solid #ff6b26;
    border-radius: 30px; 
    padding-bottom: 30px;
    margin-bottom: 60px;
  }

  .section__grid-item__title {
    font-family: "Founders Grotesk Mono",helvetica,sans-serif;
    margin-top: -20px;
    background-color: #ff6b26;
    color: #fff;
    padding: 16px 20px;
    border-radius: 30px;
    margin-top: -30px;
    text-align: center;
  }

  .section__grid-item__text {
    line-height: 22px;
    padding: 0 30px;
  }
</style>


<section id="{{ section.id }}" class="category-grid">
    <div class="section__category__grid-wrapper container">
          <h2 class="section__category__heading"> {{ section.settings.heading }}</h2>
      <ul class="section__grid-list">
        {%- for block in section.blocks -%}
            <li class="section__grid-item 1">
              <h3 class="section__grid-item__title"> {{ block.settings.block_title }}</h3>
              <p class="section__grid-item__text"> {{ block.settings.block_content }}</p>
              <p class="section__grid-item__text"> {{ block.settings.block_content2 }}</p>
            </li>
        {%- endfor -%}
      </ul>
    </div>
</section>

{% schema %}

{
  "name": "Categoreis",
  "settings": [
        {
       "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "let’s take this relationship to the next level"
        }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "label": "Block Title",
          "id": "block_title"
        },
        {
          "type": "textarea",
          "label": "Block Content",
          "id": "block_content"
        },
        {
          "type": "textarea",
          "label": "Block Content 2",
          "id": "block_content2"
        }
      ]
    }
  ]
}
{% endschema %}

{% assign section = section.settings %}

<div class="section">
  <h2>{{ section.block_title }}</h2>
  <p>{{ section.block_content }}</p>
</div>




