<style>
  .main-menu .has-dropdown.active:after {display: none;}
  .main-menu .has-dropdown.active {background: initial;}
/*   .template-cart .bottom-btns #preview_container {display: none !important;}   */

/*   @media(min-width: 1024px){
    .template-cart .bottom-btns #preview_container {display: block !important;}
  } */
</style>

<script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script>

<!-- Begin Rocket Fuel Conversion Action Tracking Code Version 9 -->
<script type='text/javascript'>
  (function() {
    var w = window, d = document;
    var s = d.createElement('script');
    s.setAttribute('async', 'true');
    s.setAttribute('type', 'text/javascript');
    s.setAttribute('src', '//c1.rfihub.net/js/tc.min.js');
    var f = d.getElementsByTagName('script')[0];
    f.parentNode.insertBefore(s, f);
    if (typeof w['_rfi'] !== 'function') {
      w['_rfi']=function() {
        w['_rfi'].commands = w['_rfi'].commands || [];
        w['_rfi'].commands.push(arguments);
      };
    }
    _rfi('setArgs', 'ver', '9');
    _rfi('setArgs', 'rb', '1463');
    _rfi('setArgs', 'ca', '20820460');
    _rfi('setArgs', '_o', '1463');
    _rfi('setArgs', '_t', '20820460');
    {% for item in cart.items %}
    _rfi('setArgs', 'pid', '{{ item.id }}');
    _rfi('setArgs', 'pname', '{{ item.title }}');
    _rfi('setArgs', 'revenue', '{{ item.price | money_without_currency }}');
    {% endfor %}
    _rfi('track');
  })();
</script>

<noscript>
  <iframe src='//20820460p.rfihub.com/ca.html?rb=1463&ca=20820460&_o=1463&_t=20820460&ra=YOUR_CUSTOM_CACHE_BUSTER&pid=INSERT_PRODUCT_ID_VALUE_HERE&pname=INSERT_PRODUCT_NAME_VALUE_HERE&revenue=INSERT_REVENUE_VALUE_HERE' style='display:none;padding:0;margin:0' width='0' height='0'>
  </iframe>
</noscript>
<!-- End Rocket Fuel Conversion Action Tracking Code Version 9 -->


<div id="sca-fg-owl-carousel">
  <div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
    <div id="freegift_message" class="owl-carousel"></div>
  </div>
  <div id="sca-fg-slider-cart" style="display: none;">
    <div class="sca-fg-cart-title">
      <strong>Select your free gift (s)</strong>
    </div>
    <div id="sca_freegift_list" class="owl-carousel"></div>
  </div>
</div>
<div id="sca_fg_cart">
  <div id="cart-wrap" class="container">
    <h1>your shopping bag</h1>

    {% assign offer_threshold = settings.offer_threshold | times: 100 %}
    {% if settings.hide__sample_selector == false and offer_threshold >  cart.total_price %}
        <p style="text-align: center;font-size: 12px;">spend ${{settings.offer_threshold}} or more to choose one (1) FREE gift</p>
    {% endif %}

    <!--    <div class="flash-text">
<p style="color:#FF486B">due to amika love, orders may not ship for 3 business days</p>
</div> -->

    {% if cart.items == empty %}
    <div class="empty"><i class="fa fa-shopping-cart"></i><br />- Your shopping cart is empty. Check out our <a href="/collections/all">shop</a> to see what's available -</div>
    {% else %}
    <div class="grid grid-full cart__template--section">

      <div class="grid__item two-thirds cart__left medium--one-whole small--one-whole custom__grid_block">
        {% assign salonExists = false %}
        {% for item in cart.items %}
        {% if item.product.tags contains 'salon-merch' %}
        {% assign salonExists = true %}
        {% else %}
          {% assign salonExists = false %}
          {% break %}
        {% endif %}
        {% endfor %}
        {% if salonExists == false %}
        {% if customer.tags contains 'HMS' %}
        {% else %}
        <div class="free__shipping--bar small--show hide">
             <div class="free-shipping">
               {% assign excludePrice = 0 %}
               {% for item in cart.items %}
               {% if item.product.tags contains 'excludeHMS' or item.product.tags contains 'salon-merch' %}
               {% assign item_price = item.price | times: item.quantity %}
               {% assign excludePrice = excludePrice | plus: item_price %}
               {% endif %}
               {% endfor %}

               {% assign freeShip = settings.Min-free-shipping-value %}
               {% assign total_price = cart.total_price | money_without_currency %}
               {% if excludePrice > 0 %}
               {% assign excludePrice = excludePrice | money_without_currency %}
               {% assign total_price = total_price | minus: excludePrice %}
               {% endif %}
               {% assign percentageFreeShip = total_price | times: 100  | divided_by: freeShip %}
               {% assign freeshipaway = freeShip | minus: total_price %}
               {% if percentageFreeShip < 100 %}
              <span>You're {{ freeshipaway | times: 100 | money }} away from qualifying for free shipping</span>
              {% else %}
              <span class="free-text">You've earned Free Shipping.</span>
              {% endif %}
              <div class="free-shipping-bar"></div>
            </div>
          </div>
        {% endif %}
        {% endif %}

        {% assign offer_threshold = settings.offer_threshold | times: 100 %}
        {% if settings.hide__sample_selector == false and offer_threshold <=  cart.total_price%}

          {% assign count_sample = 0 %}
          {% capture sampleIncart %}
          {%- for item in cart.items -%}
          {%- for product in collections[settings.collection_sample].products -%}
          {%- if product.id == item.product.id -%}
          {{ product.id }},

          {%- assign count_sample = count_sample | plus: 1 -%}
          {%- endif -%}
          {%- endfor -%}
          {%- endfor -%}
          {% endcapture %}

          <div class="sample__top--section">
            <div class="heading__section">
              <p class="heading">FREE GWP| {{count_sample}} of 1 Selected </p>
              <span class="toggle__icon">
              <div class="horizontal"></div>
              <div class="vertical"></div>
              </span>
            </div>
            <p class="sample__maxError">You can add one (1) gift</p>
            <div class="sample__data--section">
              <div class="sample__slider">
                {% for product in collections[settings.collection_sample].products %}
                {% assign selected = false %}
                {% for item in cart.items %}
                {% if item.id == product.first_available_variant.id %}
                {% assign selected = true %}
                {% endif %}
                {% endfor %}
                <div class="cart__page--free-sample single__sample--section">
                  <img src="{{ product.featured_image | img_url: '138x128' }}" class="sample__img" />
                  <p class="sample__copy">{{ product.title }}</p>
                  <a href="javascript:void(0);" data-id="{{product.first_available_variant.id}}" class="sample__cta{% if selected %} selected{% endif %}">{% if selected %}REMOVE{% else %}SELECT{% endif %}</a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% comment %}
          <br/><p>please note: if no samples are selected, they will not be included in your order.</p><br/>
          {% endcomment %}
        {% endif %}
        
        <form action="/cart" method="post" id="cartform" class="clearfix">
          <table>
            <thead class="thead__section small--hide">
            <tr class="top-labels">
              <th></th>
              <th>
                <table>
                  <tr class="item-line item-first-line">
                    <td class="title animation two-twelfths small--hide medium--hide">
                      <span class="line-header">Description</span>
                    </td>
                    <td class="unit-price small--hide two-twelfths small--hide medium--hide">
                      <span class="line-header">Price</span>
                    </td>
                    <td class="qtty two-twelfths small--hide medium--hide">
                      <span class="line-header">Quantity</span>
                    </td>
                    <td class="total-price two-twelfths small--hide medium--hide">
                      <span class="line-header">Total</span>
                    </td>
                    <td class="remove one-twelfth small--hide medium--hide">
                    </td>
                  </tr>
                </table>
              </th>
            </tr>
            </thead>

            <tbody>
              {% for item in cart.items %}
              {% include '_cart-item' %}
              {% endfor %}
            </tbody>
          </table>





          {% if settings.allow_note %}
          <div id="checkout-addnote">
            <div>
              <input type="checkbox" id="chk-is-instructions" class="checkbox-custom" {% if cart.note != nil and cart.note != "" %} checked="checked" {% endif %} />
              <label for="chk-is-instructions" class="checkbox-custom-label animation">Add special instructions to your order</label>
            </div>
            <div id="instructions-note">
              <textarea id="note" name="note" maxlength="100">{{ cart.note }}</textarea>
            </div>
          </div>
          {% endif %}
          <div style="clear: both"></div>

          {% if settings.cart_additional_msg != "" %}
          <div class="additional-message">{{ settings.cart_additional_msg }}</div>
          {% endif %}

          {% if settings.cart_return_policy != "" %}
          <div class="hide"><div id="return-policy"><div class="title">Return Policy</div>{{ settings.cart_return_policy }}</div></div>
          <div class="return-policy-button"><a href="#" onclick="openModal($('#return-policy')); return false;">RETURN POLICY</a></div>
          {% endif%}


          <input class="js-form-discount" type="hidden" name="discount" value="NEWFRIEND" >
          {% comment %}
          {% include 'hear-about-us' %}
          {% endcomment %}
        </form>
      </div>

      <div class="grid__item one-third cart__right medium--one-whole small--one-whole custom__grid_block">
        <div class="cart__right--outer">
          {% assign excludePrice = 0 %}
          {% for item in cart.items %}
          {% if item.product.tags contains 'excludeHMS' or item.product.tags contains 'salon-merch' %}
          {% assign item_price = item.price | times: item.quantity %}
          {% assign excludePrice = excludePrice | plus: item_price %}
          {% endif %}
          {% endfor %}
          {% assign salonExists = false %}
          {% for item in cart.items %}
          {% if item.product.tags contains 'salon-merch' %}
            {% assign salonExists = true %}
          {% else %}
            {% assign salonExists = false %}
            {% break %}
          {% endif %}
          {% endfor %}
          {% if salonExists == false %}
          {% if customer.tags contains 'HMS' %}
          {% else %}
          <div class="free__shipping--bar small--hide">
             <div class="free-shipping">
              {% assign freeShip = settings.Min-free-shipping-value %}
              {% assign total_price = cart.total_price | money_without_currency %}
              {% if excludePrice > 0 %}
              {% assign excludePrice = excludePrice | money_without_currency %}
              {% assign total_price = total_price | minus: excludePrice %}
              {% endif %}
              {% assign percentageFreeShip = total_price | times: 100  | divided_by: freeShip %}
              {% assign freeshipaway = freeShip | minus: total_price %}
              {% if percentageFreeShip < 100 %}
              <span>You're {{ freeshipaway | times: 100 | money }} away from qualifying for free shipping</span>
              {% else %}
              <span class="free-text">You've earned Free Shipping.</span>
              {% endif %}
              <div class="free-shipping-bar"></div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          <div class="donation__range--bar">
            <div class="bottom-btns text-center">
              <div class="loader__wrapper"><div class="donateLoader"></div></div>
              {% include 'donation' %}

            </div>
          </div>
          <div class="subtotal__section">
            <form action="/cart" method="post" id="cartformCheckout" class="clearfix">
            {% if cart.item_count > 0 and cart.total_price != 0 %}
            <div class="subtotal">
              <div class="subtotal__data--section">
                <div class="label">Subtotal</div>
                <div class="number__data">
                  <span class="saso-cart-original-total">{{ cart.total_price | money | remove: '.00' }}</span>
                  <span class="saso-cart-total"></span>
                </div>
              </div>
              <div class="number"></div>

              <div class="checkout-button"><input type="submit" id="update-cart" class="btn animation" name="checkout" value="checkout" /></div>
              <p class="promo__hint">Have a promo code? Promotions, Shipping and Taxes calculated at checkout. One promo code per order. </p>

              <!-- Removal of checkout options on cart page -->
              {% if additional_checkout_buttons %}
              <div id="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
              {% endif %}
              <!-- End Removal of checkout options on cart page -->


            </div>
            {% endif %}
            </form>
          </div>
        </div>
      </div>

    </div>
    {% include 'hear-about-us' %}
    {% include 'shipping-calculator' %}

    {% endif %}



  <style>
    {% comment %}
    Calculate the percentage of the Shipping bar
    {% endcomment %}
    .free-shipping-bar {
      position: relative;
      height: 12px;
      background: #E5E8EB;
      margin-top: 8px;
    }
    {% assign total_price = total_price | times: 100 %}
    {% assign shippingProgress = total_price | divided_by: settings.Min-free-shipping-value | at_most: 100 %}
    .free-shipping-bar:after {
      width: {{ shippingProgress | round }}%;
      content: '';
      position: absolute;
      background-color: #000000;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .loader__wrapper {padding: 20px 0;}
    .donateLoader {
      border: .2em solid currentcolor;
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: 1s loaderDonate linear infinite;
      position: relative;
      margin: 0 auto !important;
      width: 2em;
      height: 2em;
      color: inherit;
      vertical-align: middle;
      pointer-events: none;
    }

    @keyframes loaderDonate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    #donate-popup .popup .donate-close {
        top: 2px;
        right: 8px;
    }
  </style>

  <script>
    $(function() {
      $('#cart-wrap input[type=number]').change(function(){
        $(this).closest('form').submit();
      });
      setTimeout(function(){
        $('.price-form').parent().addClass('price-form-container');
      }, 3000);
      setTimeout(function(){
        $('.price-form').parent().addClass('price-form-container');
      }, 6000);
    });
  </script>


  {% comment %}
  REMOVE DONATION IF CART HAS SAMPLES AND DONATION
  {% endcomment %}

  <script>
    window.sampleProductArray = [];
    {%- for product in collections[settings.collection_sample].products -%}
    sampleProductArray.push({{ product.first_available_variant.id }});
    {%- endfor -%}
  </script>

  {% assign removeSample =  false %}
  {%- if cart.item_count > 1 -%}
  {%- for item in cart.items -%}
  {%- if item.id == 16575801327682 -%}
  {%- if item.price == cart.total_price -%}
  {% assign removeSample =  true %}
  {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
  {% if removeSample == true %}
  <script>
    $(document).ready(function(){
      if(sampleProductArray.length > 0){
        var update = {};
        $.each(sampleProductArray, function(key, value) {
          update[value] = 0;
        });
        $.ajax({
          type: 'POST',
          url: '/cart/update.js',
          data: {updates:update},
          dataType: 'json',
          error: function(){console.log('fail');},
          success: function(){
            location.reload();
          },
          cache: false
        });
      }
    });
  </script>
  {% endif %}

  {% comment %}
  Remove Sample/gift option if price is less then 50$ 
  {% endcomment %}
  {% assign offer_threshold = settings.offer_threshold | times: 100 %}
  {% if cart.item_count > 0 and cart.total_price < offer_threshold %}
  <script>
    $(document).ready(function(){
      if(sampleProductArray.length > 0 && $('.sample__cta.selected').length > 0 ){
        var update = {};
        $.each(sampleProductArray, function(key, value) {
          update[value] = 0;
        });
        $.ajax({
          type: 'POST',
          url: '/cart/update.js',
          data: {updates:update},
          dataType: 'json',
          error: function(){console.log('fail');},
          success: function(){

            //Update Cart
            location.reload();
          },
          cache: false
        });
      } else {
        $('.sample__top--section').hide().remove();
      }
    });
  </script>
  {% endif %}



  {% comment %}
  CLEAR CART IF CART HAS SAMPLES AND DONATION
  {% endcomment %}

  {% if cart.item_count > 0 and cart.total_price == 0 %}
  <script>
    $(document).ready(function(){
      $.ajax({
        type: 'POST',
        url: '/cart/clear.js',
        dataType: 'json',
        error: function(){console.log('fail');},
        success: function(){location.reload();},
        cache: false
      });
    });

    // Prevent click through on donation product
//     $('td > a[href*="donation"]').on('click', function(e){ e.preventDefault()});
  </script>
  {% endif %}

</div>
