<style>

  
  .page h2 {
    line-height: 1.5em;
    margin: 20px 10px 5px 10px;
  }
  
  
    .page h3 {
    line-height: 1.5em;
    margin: 20px 10px 5px 10px;
    }
  
    .page h1 {
    line-height: 1.5em;
    margin: 20px 10px 5px 10px;
    }
    
</style>

<!-- Klaviyo Signup Form Snippet -->
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RTevZm"></script>
<!-- Klaviyo Signup Form Snippet End -->


<div class="page page-{{page.handle}} text-center">
  <div class="img-container img-top">
    
   
    <img src="{{ "amika_hAIR_blowdrybrush_stopmo_homepage_1750X1000.gif" | asset_img_url: "master" }}" class="img-responsive"/>

    
      {% comment %}
    <video autoplay  loop  style="width: 100vw;position: relative;center;">
      <source src="{{ "amika_hAIR_blowdrybrush_stopmo_full_v5.mp4" | asset_url }}" type="video/mp4">
</video>
   {% endcomment %}
    

    
  </div>
  <div class="container">
    <h1 class="page-title">NEW<br/>{{page.title}}</h1>
    <h3>our newest 2-in-1 tool combines a round brush and blow dryer for the fastest way to get a smooth, shiny and bouncy blowout using negative ion technology</h3>
    <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
      {{ page.content }}
      <br/>
     <div class="klaviyo-form-RPwqtC"></div>
    </div>
    <br/>
       <h2>clinically proven to give your blowout 2X the shine<br/>compared to the leading marketing competitor*</h2> 
  </div>
</div>


  <div id="contact-form-page" class="page container">
  <div class="contact-top">
    <div class="large--table medium--table">
      <div class="large--table-cell medium--table-cell">
        <div class="contact-text">
          <p>{{ page.content }}</p>
           <img src="{{ "hair-blow-dryer-brush_amika_BA_1500x1500.gif" | asset_img_url: "master" }}" class="img-responsive"/>
        </div>
      </div>
    </div>

  
     
   
  

  <div class="contact-content text-left">
    <div class="grid">
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>key benefits</h2>
        <p><strong>3 adjustable heat/speed settings</strong> provide a customized blowout that works for every type of hair</p>
        <p><strong>tourmaline coated barrel</strong> generates negative ions and infrared heat to smooth hair and minimize frizz</p>
        <p><strong>large oval barrel</strong> is designed to deliver extra root lift and increase overall volume at the root and sleekness along the hair shaft</p>
        <p><strong>long + short nylon ball tip bristles</strong> detangle, smooth and minimize breakage plus increase bounce, shine and polish</p>
  
        <div class="table">
          <div class="table-row">
            <div class="table-cell">
              <span></span>
            </div>
            <div class="table-cell">
              <strong></strong>
            </div>
          </div>
 <div class="table-row">
            <div class="table-cell">
              <span></span>
            </div>
            <div class="table-cell">
              <span class="bolder underlined"></span>
            </div>
          </div>
         
          <div class="table-row">
            <div class="table-cell">
              <span></span>
            </div>
            <div class="table-cell">
              <span class="bolder underlined"></span>
            </div>
          </div>
         
        </div>
      </div>
      
         <div class="grid__item one-quarter medium--one-half small--one-whole">
           <h2>key features</h2>
        <p><strong>ultra-lightweight design</strong> weighs just .85 lb/ 380 g</p>
          <p class="bolder">120V-60 Hz</p>
        <p class="bolder">950 watts</p>
        <p><strong>9 ft / 3 m cord with 360° swivel</strong> allows for easy handling</p>
    <p class="bolder">1-year warranty</p>
      </div>
      
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>who it's for</h2>
        <p><strong>everyone!</strong> creates volume and smoothness on every type of hair</p>
        <p><strong>choose your FREE gift too!</strong> whether you're looking for frizz-free results or added volume, we're giving all waitlist orders a FREE $25 styler of your choice, so you can achieve the perfect blowout</p>
      
       

      </div>
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>early access</h2>
        <p><strong>sign up</strong> in the form above</p>
        <p class="bolder">we'll contact you as soon as it's in stock!</p>
        <p><strong>place your order ASAP</strong> plus choose your FREE gift at checkout!</p>
<p class="bolder">we'll ship to you for the perfect blowout! </p>
      </div>
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>got questions?</h2>
        <p>
          email us <br>
          <a href="mailto:info@loveamika.com">info@loveamika.com</a>
        </p>
      </div>
    </div>
  </div>
 
   