{% layout none %}

<!DOCTYPE html>
<html>

  <head>
    <title>amika pro</title>
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,100,200,500,700' rel='stylesheet' type='text/css'>
    {{ 'helpers.css' | asset_url | stylesheet_tag }}

    <style type="text/css">
      body {font-family: 'Futura ND', sans-serif; font-weight: 300; font-size: 19px; margin: 0; width:100%; height:100%; text-align: center; background-color: #ff6b26;}
      a {text-decoration: none; color: inherit; //color:expression(this.parentNode.currentStyle['color']);}
      a:hover {text-decoration: none; color: inherit; //color:expression(this.parentNode.currentStyle['color']);}
      ::-webkit-input-placeholder {color: #888;}
      :-moz-placeholder {color: #888;}
      ::-moz-placeholder {color: #888;}
      :-ms-input-placeholder {color: #888;}
      a {-webkit-transition: all 0.2s linear; 
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;}
      .animation {-webkit-transition: all 0.2s linear; 
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;}
      p {color: #777; margin: 0 0 10px 0; font-size: 19px; }

      #wrapper {min-height: 100%;}
      .container {max-width: 900px; margin: auto;}

      #top-banner {padding: 100px 20px; text-align: center; background: #fefaf0; }
      #top-banner p {font-size: 20px; letter-spacing: 0.05em; color: #999;}
      #top-banner p.simplify {margin-bottom: 80px; color: #000000;}
      #top-banner p.ask {margin-top: 25px; font-size: 16px;}
      #top-banner p.ask a {font-weight: 500;}
      #top-banner p.ask a:hover {color: #ff6b26;}
      #top-banner img {max-width: 250px; width: 100%; margin-bottom: 20px;}
     
      .form {max-width: 393px; margin: 15px auto 0 auto; text-align:center; }
      input {border: none; color: #000; background-color: transparent; font-family: 'Futura ND', sans-serif; font-weight: 300; }
      input[type="text"] {width: 100%; text-align: center; border: 1px solid #f1f1f1; background: #f1f1f1; color: #ff6b26; box-sizing: border-box; padding: 0 20px; height: 52px; font-size: 18px;}
      input[type="text"]:focus {border-color: #ccc; background: #fefaf0;}
      input[type="text"]:focus::-webkit-input-placeholder {color: #fefaf0;}
      input[type="text"]:focus:-moz-placeholder {color: #fefaf0;}
      input[type="text"]:focus::-moz-placeholder {color: #fefaf0;}
      input[type="text"]:focus:-ms-input-placeholder {color: #fefaf0;}
      input[type="submit"] {display: none; float: right; border-left: 1px solid #000; width: 19%; line-height: 50px; font-size: 13px; text-transform: uppercase; color: #000; letter-spacing: 0.07em; padding: 0;}
      .button {background:none; background-color: #fff; cursor: pointer;}
      .button:hover { background-color: {{settings.content_brand_color}}; color: #fff; }

      #simplistic-banner {text-align: center; padding: 70px 20px 50px 20px; background: #ff6b26; color: #fff; }
      #simplistic-banner img {max-height: 80px; display: inline-block; }
      #simplistic-banner .services p {font-size: 16px; margin-top: 15px;}
      #simplistic-banner .services .mail {width: 34px; height: 34px; margin-top: 20px; border: 2px solid #fff; display: inline-block; background: #fff; color: #ff6b26; border-radius: 50%;}
      #simplistic-banner .services .mail i {font-size: 16px; padding-top: 8px;}
      #simplistic-banner .services .item:hover .mail {background: #ff6b26; color: #fff;}
      #simplistic-banner p {color: #fff; font-size: 11px; letter-spacing: 0.05em; margin: 80px auto 0 auto;}	


      input[type="text"], input[type="submit"], input[type="button"], input[type="number"] {appearance:none; -moz-appearance:none; /* Firefox */ -webkit-appearance:none; /* Safari and Chrome */ border-radius: 0;}
      :focus {outline:none;}

      @media only screen and (max-width: 584px){
        #top-banner {padding: 50px 20px 50px 20px;}
        #simplistic-banner .icons img {padding: 0 12px;}
        #top-banner p {font-size: 17px;}
        #simplistic-banner {text-align: center; padding: 50px 20px 50px 20px;}
        #simplistic-banner .services .item {margin-bottom: 40px;}
        #simplistic-banner img {max-height: 40px;}
        #simplistic-banner .services p {font-size: 12px; margin-top: 10px;}
        #simplistic-banner .services .mail {width: 28px; height: 28px; margin-top: 15px; }
        #simplistic-banner .services .mail i {font-size: 14px; padding-top: 6px;}
        }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="top-banner">
 <a href="http://www.loveamikapro.com" target="_blank"><img src="{{"logo.png" | asset_url}}" /></a>
        <p class="simplify">welcome to friends with benefits: custom salon rewards online portal <br/><br/>this is a brand-new platform, currently accessible only to qualifying jewel accounts +
salons serviced by goldwell of ny 
<br/><br/>
          we look forward to making all amika salons welcome<br/><br/>enter the password, then press return or enter key</p>
        <div class="form">
          <form id="custom_login_form" method="post">
            <input type="text" placeholder="enter site password" name="password" id="password">
            <input type="submit" value="go" class="button animation" name="commit">
            <div style="clear: both"></div>
          </form>
        </div>
        <p class="ask">the site password is different from your account password<br/><br/>for more information, contact us at <a href="mailto:info@loveamikapro.com">info@loveamikapro.com</a></p>
      </div>
<!--       <div id="simplistic-banner">
        <div class="container">
          <div class="grid clearfix services">
            <div class="grid__item item one-third text-center">
              <img src="{{"pass-flash2.png" | asset_url}}" />
              <p>need a flash site?</p>
              <a href="mailto:team@simplistic.com"><div class="mail animation"><i class="fa fa-envelope"></i></div></a>
            </div>
            <div class="grid__item item one-third text-center">
              <img src="{{"pass-store2.png" | asset_url}}" />
              <p>need an online store?</p>
              <a href="mailto:team@simplistic.com"><div class="mail animation"><i class="fa fa-envelope"></i></div></a>
            </div>
            <div class="grid__item item one-third text-center">
              <img src="{{"pass-fulfillment2.png" | asset_url}}" />
              <p>need fulfillment?</p>
              <a href="mailto:team@simplistic.com"><div class="mail animation"><i class="fa fa-envelope"></i></div></a>
            </div>
          </div>
          <p>copyright © {{ 'now' | date: "%Y" }} simplistic. all rights reserved.</p>
        </div>
      </div> -->
    </div>

  </body>
</html>
